# Data Wrangling - Users & Tweets

In [2]:
import os
import re
import datetime as dt
import time
import random
import json

# data science
import math
import numpy as np
import pandas as pd
import scipy.stats as st
from scipy.stats import randint as sp_randint

# data visualization
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
import seaborn as sns
from pyvis.network import Network

In [3]:
# configurations
# style for data visualizations
plt.style.use('fivethirtyeight')
%matplotlib inline
sns.set()

# Allow multiple outputs for each cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

# Suppress warnings 
import warnings
warnings.filterwarnings('ignore')

# display all columns
pd.set_option('display.max_columns', None)

# suppress auto-conversion to scientific notation
pd.set_option('display.precision', 6)

In [107]:
tweets = pd.read_csv('Data/tweets2.csv', encoding='utf-8')
users = pd.read_csv('Data/users2.csv', encoding='utf-8')
hashtags = pd.read_csv('Data/hashtags.csv')

# Parsing geographical locations

In [5]:
us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY',
}

states = ["AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DC", "DE", "FL", "GA", 
          "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", 
          "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", 
          "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", 
          "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"]

states_full = ['Alabama','Alaska','Arizona','Arkansas','California','Colorado',
                'Connecticut','Delaware','Florida','Georgia','Hawaii','Idaho', 
                'Illinois','Indiana','Iowa','Kansas','Kentucky','Louisiana',
                'Maine' 'Maryland','Massachusetts','Michigan','Minnesota',
                'Mississippi', 'Missouri','Montana','Nebraska','Nevada',
                'New Hampshire','New Jersey','New Mexico','New York',
                'North Carolina','North Dakota','Ohio',    
                'Oklahoma','Oregon','Pennsylvania','Rhode Island',
                'South  Carolina','South Dakota','Tennessee','Texas','Utah',
                'Vermont','Virginia','Washington','West Virginia',
                'Wisconsin','Wyoming']

places = ['San Francisco', 'Southern California', 'Chicago', 'Los Angeles', 'New York City', 'Brooklyn', 'Washington DC',
          'SF Peninsula', 'U.S.A', 'U.S.A.', 'U.S.', 'US', 'USA', 'United States', 'NYC', 'Seattle', 'Boston', 'Atlanta', 'Philadelphia']

In [6]:
geo = users['location'].str.split(r',', 1, expand=True)
geo.columns = ['cityOrState', 'country']
geo['cityOrState'] = geo['cityOrState'].str.strip()
geo['country'] = geo['country'].str.strip()
geo.head()

                      cityOrState country
0                    Quelque part    None
1  London (E17) / Gateshead (NE9)    None
2    add my snapchat - DirectPorn    None
3                             NaN     NaN
4                             NaN     NaN

In [7]:
index = (geo['cityOrState'].isin(places + states + states_full) | geo['country'].isin(places + states + states_full))

In [8]:
us = geo[index]

In [9]:
notus = geo[np.logical_not(index)]

In [10]:
len(us) + len(notus) == len(geo)

True

## US

1. remove '.' in country
2. 'US' and contains'United States' >> 'USA'
3. match 2 characters

In [11]:
us['country'] = us['country'].str.replace(r'.','')
us['cityOrState'] = us['cityOrState'].str.replace(r'.','')
us['country'] = us['country'].str.strip()

In [12]:
usa = ['USA','US','United States', 'United States of America']
us.loc[us['country'].str.contains('US', case=False) | us['country'].str.contains('United States', case=False), ['country']] = 'USA'
us[(us['cityOrState'].isin(usa) == True) & (us['country'].isin(usa) == False)]['country'].value_counts(dropna=False)

NaN                               6934
Earth                                3
Midwest                              2
Georgia                              2
Oklahoma                             2
Ohio                                 2
born & bred                          1
Europe                               1
Mexico & Canada                      1
Citizen of Earth                     1
Boston MA                            1
UK, All over the Globe               1
America                              1
midwest                              1
New York                             1
Louisiana                            1
where moss grows                     1
Middle East                          1
Canada, Europe                       1
Tunisia, Morocc                      1
India                                1
Iowa                                 1
Indiana                              1
EU                                   1
Ireland                              1
Puerto Rico, Vieques                 1
India, RSA                           1
bitch                                1
Amsterdam HQ                         1
NC, Pinehurst                        1
                                  ...
LA                                   1
East Coast Blue state!               1
UK, Ireland, and where invited       1
Virginia                             1
West Texas                           1
UK, and Belgium                      1
Timetoleavesick,CTüá∫üá∏                 1
q1xqz1zq1xqz1Earth                   1
East                                 1
Canada, Caribbean                    1
Puerto Rico                          1
CA, NV, VA, DC                       1
Planet Earth                         1
Florida                              1
Utah                                 1
CA                                   1
Los Angeles                          1
Arizona                              1
Michigan                             1
Kennecott mine                       1
02130                                1
Washington, DC                       1
Missouri                             1
the republic                         1
Wyoming                              1
Worldwide                            1
Colorado                             1
but my heart is in Israel            1
BEST COUNTRY EVER                    1
‚úäConstitutional Rights               1
Name: country, Length: 71, dtype: int64

In [13]:
condition = (us['cityOrState'].isin(usa) == True) & (us['country'].isin(usa) == False)
condition2 = (us['cityOrState'].isin(usa) == True) & (us['country'].isin(usa) == True)
us.loc[condition, 'cityOrState'] = us.loc[condition, 'country']
us.loc[condition2, 'cityOrState'] = np.nan
us.loc[condition, 'country'] = 'USA'
us.loc[us['cityOrState'].str.contains('US', case=False) |
       us['cityOrState'].str.contains('United States', case=False), ['country']] = 'USA'
us.loc[us['cityOrState'].str.contains('US', case=False) |
       us['cityOrState'].str.contains('United States', case=False), ['cityOrState']] = np.nan
us['country'].value_counts(dropna=False)

USA                            23594
NaN                            10928
CA                              6382
NY                              4762
DC                              2625
FL                              1858
IL                              1545
TX                              1402
MA                              1395
PA                              1333
WA                              1305
GA                               992
NC                               944
VA                               774
AZ                               753
MI                               734
CO                               726
TN                               695
OH                               649
OR                               646
MN                               619
MD                               619
California                       580
MO                               558
NJ                               480
NV                               462
IN                               433
New York                         358
SC                               352
WI                               343
                               ...
NY & Cambridge                     1
SD, KC                             1
Cali-For-Nia                       1
NY from Queens                     1
GA‚úàÔ∏èPleasantville, NY              1
DC and London                      1
VA,CO,NM and in your dreams        1
DC via Minnesota                   1
you're my home!                    1
CA/SaudiArabia                     1
Newport, RI                        1
DC via Pittsburgh                  1
MA & Waldo County, ME              1
DC, or elsewhere                   1
MA, Moscow, Singapore              1
NJ transplant via FL               1
WI, MN, and IA                     1
Bmore, Symbiotic Universe          1
California and StLouis, Mo         1
NY (or thereabouts)                1
no Udaho                           1
CA - SCV Newbie                    1
CA 90022                           1
MA / Webster, TX                   1
Raleigh, your ASPCA?               1
GA,CA, KY                          1
OP, Studio City, CA ‚Ä¢ NYC          1
DC ¬∑ 1035 FM                       1
send help                          1
Boston, Accra, Lagos               1
Name: country, Length: 743, dtype: int64

In [14]:
us.loc[us['country'].isna() == True, 'country'] = us.loc[us['country'].isna() == True, 'cityOrState']
us['country'].value_counts(dropna=False)

USA                        23594
CA                          6453
NY                          4906
DC                          2716
FL                          1896
IL                          1558
TX                          1437
MA                          1429
PA                          1379
WA                          1315
New York                    1295
California                  1116
Los Angeles                 1032
NC                          1017
GA                          1009
NYC                          833
VA                           807
AZ                           782
MI                           751
CO                           730
Texas                        724
TN                           718
New York City                705
Florida                      671
OH                           664
OR                           651
MN                           641
MD                           634
Chicago                      584
NJ                           578
                           ...
you're my home!                1
CA/SaudiArabia                 1
Northern VA, MD                1
DC/NoVa                        1
London, DC                     1
DC Istanbul                    1
NY to Freddyburg, VA           1
Massachutts                    1
GA / Fargo, ND                 1
CA ‚òÄ‚úå                          1
SD, KC                         1
NY & Cambridge                 1
CA 90022                       1
TO                             1
MA / Webster, TX               1
Raleigh, your ASPCA?           1
GA,CA, KY                      1
Columbia County, beyond        1
DC ¬∑ 1035 FM                   1
send help                      1
DC, or elsewhere               1
MA & Waldo County, ME          1
DC via Pittsburgh              1
Newport, RI                    1
GA, & NY                       1
dc                             1
Gotham                         1
PA - Old City                  1
CA  üá≤üáΩ                         1
Boston, Accra, Lagos           1
Name: country, Length: 744, dtype: int64

In [15]:
ca = ['California', 'Los Angeles', 'San Francisco', 'LA', 'SF', 'Southern California', 'SF Peninsula']
us.loc[us['country'].isin(ca)|us['cityOrState'].isin(ca), 'cityOrState'] = 'CA'
us.loc[us['country'].isin(ca)|us['cityOrState'].isin(ca), 'country'] = 'USA'
us['country'].value_counts(dropna=False)

USA                      26624
CA                        6453
NY                        4906
DC                        2716
FL                        1896
IL                        1558
TX                        1437
MA                        1429
PA                        1379
WA                        1315
New York                  1295
NC                        1017
GA                        1009
NYC                        833
VA                         807
AZ                         782
MI                         751
CO                         730
Texas                      724
TN                         718
New York City              705
Florida                    671
OH                         664
OR                         651
MN                         641
MD                         634
Chicago                    584
NJ                         578
MO                         564
NV                         463
                         ...
DC via Minnesota             1
you're my home!              1
CA/SaudiArabia               1
Northern VA, MD              1
DC/NoVa                      1
London, DC                   1
DC Istanbul                  1
NY to Freddyburg, VA         1
Massachutts                  1
GA / Fargo, ND               1
IL ‚ú∂‚ú∂‚ú∂‚ú∂                      1
TO                           1
no Udaho                     1
CA  üá≤üáΩ                       1
CA - SCV Newbie              1
CA 90022                     1
MA / Webster, TX             1
Raleigh, your ASPCA?         1
GA,CA, KY                    1
Nashville                    1
DC ¬∑ 1035 FM                 1
send help                    1
DC, or elsewhere             1
MA & Waldo County, ME        1
DC via Pittsburgh            1
Newport, RI                  1
GA, & NY                     1
dc                           1
Gotham                       1
Boston, Accra, Lagos         1
Name: country, Length: 737, dtype: int64

In [16]:
ny = ['New York', 'NY', 'NYC', 'New York City', 'Brooklyn']
us.loc[us['country'].isin(ny)|us['cityOrState'].isin(ny), 'cityOrState'] = 'NY'
us.loc[us['country'].isin(ny)|us['cityOrState'].isin(ny), 'country'] = 'USA'
us['country'].value_counts(dropna=False)

USA                       34746
CA                         6452
DC                         2716
FL                         1895
IL                         1558
TX                         1437
MA                         1429
PA                         1379
WA                         1315
NC                         1017
GA                         1009
VA                          807
AZ                          782
MI                          751
CO                          730
Texas                       724
TN                          718
Florida                     671
OH                          663
OR                          651
MN                          641
MD                          634
Chicago                     581
NJ                          578
MO                          564
NV                          463
IN                          438
Ohio                        404
SC                          378
WI                          357
                          ...
World                         1
Raleigh, your ASPCA?          1
MA / Webster, TX              1
CA 90022                      1
CA - SCV Newbie               1
no Udaho                      1
WI, MN, and IA                1
MA, Moscow, Singapore         1
Cali-For-Nia                  1
IL  UBC 58(union)             1
Los Angeles and NYC           1
OH, TX, FL, MA, MI, MN        1
DC via PA & OH                1
DC & Cambridge, UK            1
IL / Hawaii                   1
NYC and on planes             1
GA via Kingston, JA           1
GA / Los Angeles, CA          1
MD & VA                       1
IL Cape Town, SA              1
Illiinois                     1
smelling cheese               1
SW Florida                    1
Georgia   GA06                1
Philly, Amtrak                1
DC & Baltimore, Md            1
Florida, Gulf, Keys           1
ill                           1
IL | ‚ú∂‚ú∂‚ú∂‚ú∂                     1
DC y La Habana                1
Name: country, Length: 585, dtype: int64

In [17]:
us['country'] = us['country'].str.replace('U.S.A.', 'USA')
us['country'] = us['country'].str.replace(r'^U.S.$', 'USA')
us['country'] = us['country'].str.replace('Florida', 'FL')
us['country'] = us['country'].str.replace('Texas', 'TX')
us['country'] = us['country'].str.replace('Chicago', 'IL')
us['country'] = us['country'].str.replace('Illinois', 'IL')
us['country'] = us['country'].str.replace('Ohio', 'OH')
us['country'] = us['country'].str.replace('Michigan', 'MI')
us['country'] = us['country'].str.replace('Colorado', 'CO')
us['country'] = us['country'].str.replace('Oregon', 'OR')
us['country'] = us['country'].str.replace('Seattle', 'WA')
us['country'] = us['country'].str.replace('Boston', 'MA')
us['country'] = us['country'].str.replace('New Jersey', 'NJ')
us['country'] = us['country'].str.replace('Minnesota', 'MN')
us.loc[us['cityOrState'].str.contains('DC') | us['country'].str.contains('DC'), 'cityOrState'] = 'DC'
us.loc[us['cityOrState'].str.contains('DC') | us['country'].str.contains('DC'), 'country'] = 'USA'

In [18]:
condition = (us['country'] != 'USA') & (us['country'].str.len() != 2) & (us['country'].str.contains(r'[A-Z]{2}'))
us.loc[condition, ['country']] = us.loc[condition, 'country'].str.extract(r'([A-Z]{2})')
us['country'].value_counts(dropna=False)

USA                                     37819
CA                                       6451
FL                                       2563
IL                                       2365
TX                                       2161
MA                                       1674
WA                                       1584
PA                                       1379
MI                                       1081
OH                                       1067
CO                                       1050
NC                                       1017
GA                                       1009
OR                                        932
MN                                        865
NJ                                        823
VA                                        806
AZ                                        782
TN                                        718
MD                                        633
MO                                        564
NV                                        463
IN                                        438
SC                                        378
WI                                        357
CT                                        300
KY                                        280
AL                                        257
OK                                        227
Virginia                                  220
                                        ...
the Free State üåª                            1
London, Kent                                1
Earth, Sol System                           1
Las Vegas, Dallas                           1
‚úàÔ∏è                                          1
Canada                                      1
San Francisco, London                       1
Wisconsin, Tennessee                        1
Appalachia                                  1
& Virginia                                  1
simply the best!                            1
Always with Trump 2020                      1
of course                                   1
TelAviv,  Amsterdam                         1
Earth, Orion, Milky Way                     1
San Antonio                                 1
yes Iowa Turn it blue                       1
but I travel a lot                          1
Georgiafornia                               1
Los Angeles, Tokyo                          1
Kearny / Guayaquil                          1
Interstate Towing & Recovery of Kyle        1
Forest Park                                 1
Plano                                       1
Paris, Berlin, Kansas City                  1
Istanbul, Philippines                       1
Commifornia                                 1
Ilinois                                     1
Northern                                    1
Dublin, Al Quds                             1
Name: country, Length: 242, dtype: int64

In [19]:
us[us['country'].isna()]

       cityOrState country
2016       Chicago     NaN
2405        Boston     NaN
6688            CA     NaN
6879            PA     NaN
9042            CA     NaN
10003      Chicago     NaN
11903       Boston     NaN
18412      Seattle     NaN
19893           CA     NaN
19921           CA     NaN
24379      Chicago     NaN
25074           CA     NaN
25089           CA     NaN
25438           CA     NaN
25648      Atlanta     NaN
26648      Atlanta     NaN
27849      Georgia     NaN
28171           CA     NaN
28359           CA     NaN
28719           CA     NaN
29313           MO     NaN
29631    Wisconsin     NaN
33255      Seattle     NaN
35729       Boston     NaN
35911           CA     NaN
35978      Atlanta     NaN
37460      Chicago     NaN
39491           CA     NaN
40475           WA     NaN
41263      Atlanta     NaN
...            ...     ...
191353      Nevada     NaN
194937          CA     NaN
194997     Chicago     NaN
195989     Atlanta     NaN
196526     Chicago     NaN
196730          CA     NaN
196949      Boston     NaN
197989          CA     NaN
198078     Chicago     NaN
198483          CA     NaN
198565          CA     NaN
198867          CA     NaN
199473     Chicago     NaN
199785          CA     NaN
199866          NJ     NaN
200254      Boston     NaN
200258          CA     NaN
201033          CA     NaN
202008          CA     NaN
203494      Boston     NaN
204500          CA     NaN
205169          TN     NaN
205695          CA     NaN
206823       Texas     NaN
206829          CA     NaN
207586          RI     NaN
208022     Atlanta     NaN
208219          CA     NaN
209120     Chicago     NaN
211195          CA     NaN

[213 rows x 2 columns]

In [20]:
us.loc[us['country'].isna(), 'country'] = us.loc[us['country'].isna(), 'cityOrState']

In [21]:
us['country'].value_counts(dropna=False)

USA                         37819
CA                           6528
FL                           2566
IL                           2366
TX                           2163
MA                           1674
WA                           1585
PA                           1380
MI                           1082
OH                           1067
CO                           1052
NC                           1017
GA                           1009
OR                            932
MN                            865
NJ                            826
VA                            806
AZ                            782
TN                            720
MD                            633
MO                            565
NV                            463
IN                            438
SC                            378
WI                            357
CT                            301
KY                            280
AL                            257
OK                            228
Virginia                      221
                            ...
Wisconsin, Tennessee            1
ma                              1
Khalifornia                     1
New Mexico, Twitter             1
& Virginia                      1
3rd-world bound                 1
Cali                            1
Charlotte                       1
Nevada ‚åõÔ∏è                       1
Northern Suburbs                1
World                           1
Earth, Sol System               1
Still!!                         1
the Free State üåª                1
TelAviv,  Amsterdam             1
Istanbul, Philippines           1
Commifornia                     1
Gauteng, South Africa           1
San Diego, now Sequim           1
Ilinois                         1
Northern                        1
Always with Trump 2020          1
The Copper (Cu) State üåµüî•        1
Proudly                         1
simply the best!                1
Wash                            1
International                   1
the Best State                  1
Triangle, Cary                  1
Dublin, Al Quds                 1
Name: country, Length: 249, dtype: int64

In [22]:
us.loc[us['country'].str.len() == 2, 'country'].value_counts(dropna=False)

CA    6528
FL    2566
IL    2366
TX    2163
MA    1674
WA    1585
PA    1380
MI    1082
OH    1067
CO    1052
NC    1017
GA    1009
OR     932
MN     865
NJ     826
VA     806
AZ     782
TN     720
MD     633
MO     565
NV     463
IN     438
SC     378
WI     357
CT     301
KY     280
AL     257
OK     228
NM     198
UT     193
      ...
IA     178
NE     145
AR     134
NH     103
WV     103
HI     102
RI     101
ID     100
MS      92
ME      75
MT      59
AK      57
VT      55
DE      49
SD      41
ND      41
WY      36
Ca      32
Ga      24
Pa      15
Ma      11
Il       7
Wa       5
wa       2
pa       1
il       1
dc       1
Mn       1
‚úàÔ∏è       1
ma       1
Name: country, Length: 61, dtype: int64

In [23]:
us.loc[us['country'].str.len() == 2, 'country'] = us.loc[us['country'].str.len() == 2, 'country'].str.upper()
us.loc[us['country'].str.len() == 2, 'country'].value_counts(dropna=False)

CA    6560
FL    2566
IL    2374
TX    2163
MA    1686
WA    1592
PA    1396
MI    1082
OH    1067
CO    1052
GA    1033
NC    1017
OR     932
MN     866
NJ     826
VA     806
AZ     782
TN     720
MD     633
MO     565
NV     463
IN     438
SC     378
WI     357
CT     301
KY     280
AL     257
OK     228
NM     198
UT     193
KS     183
IA     178
NE     145
AR     134
NH     103
WV     103
HI     102
RI     101
ID     100
MS      92
ME      75
MT      59
AK      57
VT      55
DE      49
SD      41
ND      41
WY      36
‚úàÔ∏è       1
DC       1
Name: country, dtype: int64

In [24]:
us.loc[us['country'].str.len() == 2, 'cityOrState'] = us.loc[us['country'].str.len() == 2, 'country']
us.loc[us['country'].str.len() == 2, 'country'] = 'USA'
us['country'].value_counts(dropna=False)

USA                                     72286
Virginia                                  221
Arizona                                   218
North Carolina                            211
Georgia                                   189
Pennsylvania                              177
Indiana                                   169
Philadelphia                              165
Atlanta                                   153
Washington                                152
Wisconsin                                 143
Alabama                                   136
Tennessee                                 130
Missouri                                  124
Iowa                                      106
Louisiana                                  99
Oklahoma                                   96
Connecticut                                94
Kentucky                                   92
Utah                                       86
Kansas                                     84
Arkansas                                   64
New Mexico                                 64
Nevada                                     62
Idaho                                      56
Hawaii                                     54
New Hampshire                              51
Vermont                                    49
Alaska                                     47
Montana                                    47
                                        ...
Istanbul, Philippines                       1
Commifornia                                 1
National                                    1
Adjacent                                    1
Northern                                    1
Palo Alto                                   1
TelAviv,  Amsterdam                         1
Always with Trump 2020                      1
simply the best!                            1
Wash                                        1
International                               1
the Best State                              1
Plano                                       1
Karachi, Dubai                              1
Forest Park                                 1
Michigan                                    1
Interstate Towing & Recovery of Kyle        1
Kearny / Guayaquil                          1
yes Iowa Turn it blue                       1
but I travel a lot                          1
Dublin, Al Quds                             1
San Antonio                                 1
Earth, Orion, Milky Way                     1
of course                                   1
Appalachia                                  1
San Francisco, London                       1
baby                                        1
& San Francisco                             1
Georgiafornia                               1
Los Angeles, Tokyo                          1
Name: country, Length: 188, dtype: int64

In [25]:
us[us['country'] != 'USA']

              cityOrState         country
244             Wisconsin       Wisconsin
392             Tennessee       Tennessee
429               Alabama         Alabama
461          Pennsylvania    Pennsylvania
492               Indiana         Indiana
575                    CA   International
599                 Idaho           Idaho
623                 Tulsa        Oklahoma
627     Shenandoah Valley        Virginia
673             Sheffield    Pennsylvania
807              Oklahoma        Oklahoma
918               Arizona         Arizona
970               Montana         Montana
1063              Memphis       Tennessee
1097              Indiana         Indiana
1149             Virginia        Virginia
1164     Chattanooga Area       Tennessee
1176             Richmond        Virginia
1209             Virginia        Virginia
1306             Virginia        Virginia
1364              Arizona         Arizona
1400          Connecticut     Connecticut
1434         Pennsylvania    Pennsylvania
1474              Georgia         Georgia
1611           Woodbridge        Virginia
1641              Georgia         Georgia
1697              Alabama         Alabama
1855         Rhode Island    Rhode Island
1929             Northern        Virginia
1997             Oklahoma        Oklahoma
...                   ...             ...
210372            Alabama         Alabama
210400            Lincoln        Nebraska
210420          Pocatello           Idaho
210425       Philadelphia    Pennsylvania
210442           Kentucky        Kentucky
210443            Atlanta         Georgia
210648          Asheville  North Carolina
210716      New Hampshire   New Hampshire
210748        Bentonville        Arkansas
210772           Missouri        Missouri
210859            Vermont         Vermont
210939     North Carolina  North Carolina
210951        Connecticut     Connecticut
210964     North Carolina  North Carolina
211047       Pennsylvania    Pennsylvania
211074     North Carolina  North Carolina
211090          Lexington        Kentucky
211228         Louisville        Nebraska
211230          Arlington        Virginia
211298     Salt Lake City            Utah
211302           Savannah         Georgia
211370             Kansas          Kansas
211374         New Mexico      New Mexico
211574          Flagstaff         Arizona
211653            Alabama         Alabama
211674       Fayetteville        Arkansas
211694            Chicago             Ill
211710            Arizona         Arizona
211728           Wai'anae          Hawaii
211738            Atlanta         Atlanta

[3793 rows x 2 columns]

In [26]:
us.loc[us['country'] != 'USA', 'cityOrState'] = us.loc[us['country'] != 'USA', 'country']

In [27]:
us['country'] = 'USA'
us['country'].value_counts(dropna=False)

USA    76079
Name: country, dtype: int64

## City/State

In [28]:
us['cityOrState'].value_counts(dropna=False)

CA                           11365
NaN                           9244
NY                            9187
DC                            3086
FL                            2569
IL                            2374
TX                            2167
MA                            1687
WA                            1595
PA                            1406
MI                            1083
OH                            1069
CO                            1053
GA                            1037
NC                            1025
Florida                        997
Texas                          994
OR                             932
MN                             869
NJ                             842
VA                             809
AZ                             782
TN                             723
Pennsylvania                   690
North Carolina                 690
MD                             634
Virginia                       596
MO                             566
Georgia                        520
Arizona                        516
                             ...
San Antonio                      1
Up North                         1
Denver                           1
baby                             1
[REDACTED]                       1
Zurich, Basel                    1
Califormia                       1
Palo Alto                        1
Kekistanie Prov                  1
Fuckvill                         1
Fly-Over                         1
Northern MN                      1
Somewhere annoying my man        1
Herein Michigan                  1
FLA                              1
Tidewater Virginia               1
Oregon and Montana               1
& San Francisco                  1
Dyketown Natals                  1
Bad Street                       1
Far West Dixie                   1
Pacific NW                       1
you're my home!                  1
bitch                            1
Realville                        1
bloomington indiana              1
Sportstown                       1
Democratic Wisconsin             1
Rural N Ga Mts                   1
Nunyabidness                     1
Name: cityOrState, Length: 975, dtype: int64

In [29]:
us['cityOrState'] = us['cityOrState'].str.replace('Texas', 'TX')
us['cityOrState'] = us['cityOrState'].str.replace('Florida', 'FL')
us['cityOrState'] = us['cityOrState'].str.replace('North Carolina', 'NC')
us['cityOrState'] = us['cityOrState'].str.replace('Pennsylvania', 'PA')
us['cityOrState'] = us['cityOrState'].str.replace('Virginia', 'VA')
us['cityOrState'] = us['cityOrState'].str.replace('Georgia', 'GA')
us['cityOrState'] = us['cityOrState'].str.replace('Arizona', 'AZ')
us['cityOrState'] = us['cityOrState'].str.replace('New Jersey', 'NJ')
us['cityOrState'] = us['cityOrState'].str.replace('Michigan', 'MI')
us['cityOrState'] = us['cityOrState'].str.replace('Washington', 'WA')
us['cityOrState'] = us['cityOrState'].str.replace('Indiana', 'IN')
us['cityOrState'] = us['cityOrState'].str.replace('Ohio', 'OH')
us['cityOrState'] = us['cityOrState'].str.replace('Tennessee', 'TN')
us['cityOrState'] = us['cityOrState'].str.replace('Wisconsin', 'WI')
us['cityOrState'] = us['cityOrState'].str.replace('Colorado', 'CO')
us['cityOrState'] = us['cityOrState'].str.replace('Missouri', 'MO')
us['cityOrState'] = us['cityOrState'].str.replace('Alabama', 'AL')
us['cityOrState'] = us['cityOrState'].str.replace('Connecticut', 'CT')
us['cityOrState'].value_counts(dropna=False)

CA                           11365
NaN                           9244
NY                            9187
FL                            3566
TX                            3161
DC                            3086
IL                            2374
PA                            2096
WA                            2041
NC                            1715
MA                            1687
GA                            1557
MI                            1534
OH                            1444
VA                            1405
CO                            1393
NJ                            1335
AZ                            1298
TN                            1088
OR                             932
MO                             884
MN                             869
IN                             816
WI                             722
MD                             634
CT                             617
AL                             568
NV                             463
SC                             380
Maryland                       283
                             ...
TX For Trump                     1
Southern Illinois                1
Old School                       1
Commonwealth of Mass             1
Earth, Orion, Milky Way          1
Realville                        1
you're my home!                  1
Charlestown                      1
Fuckvill                         1
Palisade                         1
Canada, Europe                   1
Super Elite                      1
SouthernGirl                     1
India                            1
Stand Up or Shut Up              1
Oregon & WA                      1
Motor City                       1
Palo Alto                        1
San Francisco, London            1
Pacific NW                       1
Northern MN                      1
SE WI                            1
Somewhere annoying my man        1
FLA                              1
TN & who knows                   1
& San Francisco                  1
Kekistanie Prov                  1
Dyketown Natals                  1
East Lynn West VA                1
Nunyabidness                     1
Name: cityOrState, Length: 955, dtype: int64

In [30]:
condition = (us['cityOrState'].str.contains(r'[A-Z]{2}')) & (us['cityOrState'].str.len() != 2) & (us['cityOrState'].isna() == False)
us.loc[condition]

                     cityOrState country
689                 Saxapahaw NC     USA
1451             UK, and Belgium     USA
2003              NYC Metro Area     USA
3103                 Bay Area CA     USA
4294                 Sarasota FL     USA
4544             Panhandle of FL     USA
6328                         CST     USA
6468                 Montana, IN     USA
6852                     NOWHERE     USA
9673             Somewhere in CO     USA
9862                  EVERYWHERE     USA
10036            Southeastern MA     USA
10132                   Rural MO     USA
10604                       CA48     USA
11271                    ARIZONA     USA
12466              NC, Pinehurst     USA
13903                    West VA     USA
15413                   WA State     USA
15875                   South AL     USA
16528                        PNW     USA
16710                SW WA State     USA
17454                    West VA     USA
17531                Southern CA     USA
17639                    West VA     USA
17695                    West VA     USA
18982                        DFW     USA
20374                    West VA     USA
23903               southeast MI     USA
24917                    East TN     USA
25355                   WA State     USA
...                          ...     ...
185741                 Canton OH     USA
185951                   West VA     USA
186914                  South TX     USA
187158                      NOVA     USA
187255                   Blue FL     USA
187781                Central FL     USA
188982                   West VA     USA
189198                  OKLAHOMA     USA
189812                Pacific NW     USA
191255                      MAGA     USA
191470                 Boston MA     USA
192019               Historic SC     USA
192874           STATE OF DENIAL     USA
194399                Sebring FL     USA
195593                   West VA     USA
200334                   West VA     USA
200683                  WA State     USA
200716               the West WA     USA
202305                India, RSA     USA
202619               Northern NJ     USA
203133                  WA State     USA
206493                   West VA     USA
206870         Roanoke, VA 24012     USA
207080  Del Boca Vista Phase III     USA
207327               Richmond VA     USA
207532                   West VA     USA
208040                 HOLLYWOOD     USA
209553                   West VA     USA
209775                 MO Ozarks     USA
210735               Northern VA     USA

[328 rows x 2 columns]

In [31]:
us.loc[condition, ['cityOrState']] = us[condition]['cityOrState'].str.extract(r'([A-Z]{2})')
us['cityOrState'].value_counts(dropna=False)

CA                        11365
NaN                        9572
NY                         9187
FL                         3566
TX                         3161
DC                         3086
IL                         2374
PA                         2096
WA                         2041
NC                         1715
MA                         1687
GA                         1557
MI                         1534
OH                         1444
VA                         1405
CO                         1393
NJ                         1335
AZ                         1298
TN                         1088
OR                          932
MO                          884
MN                          869
IN                          816
WI                          722
MD                          634
CT                          617
AL                          568
NV                          463
SC                          380
Maryland                    283
                          ...
Western New York              1
Conceal Carry State           1
Undisclosed                   1
Nunyabidness                  1
Philadelphia Pa               1
Up North                      1
East                          1
Midgard                       1
Swampscott                    1
Woke                          1
I see more than most          1
District of Corruption        1
Falmouth                      1
Not A Bot                     1
Bad Street                    1
you're my home!               1
bitch                         1
Realville                     1
bloomington indiana           1
Fly-Over                      1
Rural N Ga Mts                1
Califormia                    1
Sportstown                    1
Upside Down                   1
Far West Dixie                1
Middle of Nowhere             1
baby! üá∫üá∏                      1
Newton                        1
of course                     1
San Antonio                   1
Name: cityOrState, Length: 751, dtype: int64

In [32]:
us[us['cityOrState'].isin(states) == False]['cityOrState'].value_counts(dropna=False)

NaN                           9572
Maryland                       283
Illinois                       280
Oregon                         279
Kentucky                       256
Minnesota                      239
Iowa                           214
Oklahoma                       212
Louisiana                      196
South Carolina                 189
Philadelphia                   189
Kansas                         180
Utah                           177
Atlanta                        177
Arkansas                       173
New Mexico                     144
Nevada                         133
New Hampshire                  131
Maine                          118
Montana                        115
Idaho                          106
Vermont                        102
Nebraska                        94
Mississippi                     94
Hawaii                          88
Alaska                          79
Delaware                        77
Boston                          76
Rhode Island                    75
Chicago                         66
                              ...
simply the best!                 1
Somewhere in California          1
Northern                         1
Wash                             1
inside my skull                  1
Lake country                     1
Pine                             1
somewheres                       1
Paris, Sanibel, Vegas            1
EU                               1
California and StLouis, Mo       1
Views Are Strictly My Own        1
Southern Illinois                1
Mexico & Canada                  1
Karachi, Dubai                   1
City of Fallen Angels            1
Corruption                       1
Seat Pleasant                    1
North China Hills                1
born & bred                      1
TelAviv,  Amsterdam              1
permian basin                    1
Wonderland                       1
Canada, Caribbean                1
The Great Lone Star State        1
Middle America                   1
left coast                       1
southwest                        1
Commonwealth of Mass             1
Somerville                       1
Name: cityOrState, Length: 701, dtype: int64

In [33]:
_ = us[us['cityOrState'].isin(states) == False]['cityOrState'].value_counts(dropna=False).index.tolist()[1:40]
_

['Maryland',
 'Illinois',
 'Oregon',
 'Kentucky',
 'Minnesota',
 'Iowa',
 'Oklahoma',
 'Louisiana',
 'South Carolina',
 'Philadelphia',
 'Kansas',
 'Utah',
 'Atlanta',
 'Arkansas',
 'New Mexico',
 'Nevada',
 'New Hampshire',
 'Maine',
 'Montana',
 'Idaho',
 'Vermont',
 'Nebraska',
 'Mississippi',
 'Hawaii',
 'Alaska',
 'Delaware',
 'Boston',
 'Rhode Island',
 'Chicago',
 'Wyoming',
 'Seattle',
 'District of Columbia',
 'South Dakota',
 'North Dakota',
 'Midwest',
 'Puerto Rico',
 'East Coast',
 'Everywhere',
 'New England']

In [34]:
repl = r"us['cityOrState'] = us['cityOrState'].str.replace("
repl

"us['cityOrState'] = us['cityOrState'].str.replace("

In [35]:
for i in sorted(_):
    print(f"{repl}'{i}', '')")

us['cityOrState'] = us['cityOrState'].str.replace('Alaska', '')
us['cityOrState'] = us['cityOrState'].str.replace('Arkansas', '')
us['cityOrState'] = us['cityOrState'].str.replace('Atlanta', '')
us['cityOrState'] = us['cityOrState'].str.replace('Boston', '')
us['cityOrState'] = us['cityOrState'].str.replace('Chicago', '')
us['cityOrState'] = us['cityOrState'].str.replace('Delaware', '')
us['cityOrState'] = us['cityOrState'].str.replace('District of Columbia', '')
us['cityOrState'] = us['cityOrState'].str.replace('East Coast', '')
us['cityOrState'] = us['cityOrState'].str.replace('Everywhere', '')
us['cityOrState'] = us['cityOrState'].str.replace('Hawaii', '')
us['cityOrState'] = us['cityOrState'].str.replace('Idaho', '')
us['cityOrState'] = us['cityOrState'].str.replace('Illinois', '')
us['cityOrState'] = us['cityOrState'].str.replace('Iowa', '')
us['cityOrState'] = us['cityOrState'].str.replace('Kansas', '')
us['cityOrState'] = us['cityOrState'].str.replace('Kentucky', '')
us['cityOrState'] = us['cityOrState'].str.replace('Louisiana', '')
us['cityOrState'] = us['cityOrState'].str.replace('Maine', '')
us['cityOrState'] = us['cityOrState'].str.replace('Maryland', '')
us['cityOrState'] = us['cityOrState'].str.replace('Midwest', '')
us['cityOrState'] = us['cityOrState'].str.replace('Minnesota', '')
us['cityOrState'] = us['cityOrState'].str.replace('Mississippi', '')
us['cityOrState'] = us['cityOrState'].str.replace('Montana', '')
us['cityOrState'] = us['cityOrState'].str.replace('Nebraska', '')
us['cityOrState'] = us['cityOrState'].str.replace('Nevada', '')
us['cityOrState'] = us['cityOrState'].str.replace('New England', '')
us['cityOrState'] = us['cityOrState'].str.replace('New Hampshire', '')
us['cityOrState'] = us['cityOrState'].str.replace('New Mexico', '')
us['cityOrState'] = us['cityOrState'].str.replace('North Dakota', '')
us['cityOrState'] = us['cityOrState'].str.replace('Oklahoma', '')
us['cityOrState'] = us['cityOrState'].str.replace('Oregon', '')
us['cityOrState'] = us['cityOrState'].str.replace('Philadelphia', '')
us['cityOrState'] = us['cityOrState'].str.replace('Puerto Rico', '')
us['cityOrState'] = us['cityOrState'].str.replace('Rhode Island', '')
us['cityOrState'] = us['cityOrState'].str.replace('Seattle', '')
us['cityOrState'] = us['cityOrState'].str.replace('South Carolina', '')
us['cityOrState'] = us['cityOrState'].str.replace('South Dakota', '')
us['cityOrState'] = us['cityOrState'].str.replace('Utah', '')
us['cityOrState'] = us['cityOrState'].str.replace('Vermont', '')
us['cityOrState'] = us['cityOrState'].str.replace('Wyoming', '')

In [36]:
us['cityOrState'] = us['cityOrState'].str.replace('Alaska', 'AK')
us['cityOrState'] = us['cityOrState'].str.replace('Arkansas', 'AR')
us['cityOrState'] = us['cityOrState'].str.replace('Atlanta', 'GA')
us['cityOrState'] = us['cityOrState'].str.replace('Boston', 'MA')
us['cityOrState'] = us['cityOrState'].str.replace('Chicago', 'IL')
us['cityOrState'] = us['cityOrState'].str.replace('Delaware', 'DE')
us['cityOrState'] = us['cityOrState'].str.replace('District of Columbia', 'DC')
us['cityOrState'] = us['cityOrState'].str.replace('Hawaii', 'HI')
us['cityOrState'] = us['cityOrState'].str.replace('Idaho', 'ID')
us['cityOrState'] = us['cityOrState'].str.replace('Illinois', 'IL')
us['cityOrState'] = us['cityOrState'].str.replace('Iowa', 'IA')
us['cityOrState'] = us['cityOrState'].str.replace('Kansas', 'KS')
us['cityOrState'] = us['cityOrState'].str.replace('Kentucky', 'KY')
us['cityOrState'] = us['cityOrState'].str.replace('Louisiana', 'LA')
us['cityOrState'] = us['cityOrState'].str.replace('Maine', 'ME')
us['cityOrState'] = us['cityOrState'].str.replace('Maryland', 'MD')
us['cityOrState'] = us['cityOrState'].str.replace('Minnesota', 'MN')
us['cityOrState'] = us['cityOrState'].str.replace('Mississippi', 'MS')
us['cityOrState'] = us['cityOrState'].str.replace('Montana', 'MT')
us['cityOrState'] = us['cityOrState'].str.replace('Nebraska', 'NE')
us['cityOrState'] = us['cityOrState'].str.replace('Nevada', 'NV')
us['cityOrState'] = us['cityOrState'].str.replace('New England', 'NH')
us['cityOrState'] = us['cityOrState'].str.replace('New Hampshire', 'NH')
us['cityOrState'] = us['cityOrState'].str.replace('New Mexico', 'NM')
us['cityOrState'] = us['cityOrState'].str.replace('North Dakota', 'ND')
us['cityOrState'] = us['cityOrState'].str.replace('Oklahoma', 'OK')
us['cityOrState'] = us['cityOrState'].str.replace('Oregon', 'OR')
us['cityOrState'] = us['cityOrState'].str.replace('Philadelphia', 'PA')
us['cityOrState'] = us['cityOrState'].str.replace('Rhode Island', 'RI')
us['cityOrState'] = us['cityOrState'].str.replace('Seattle', 'WA')
us['cityOrState'] = us['cityOrState'].str.replace('South Carolina', 'SC')
us['cityOrState'] = us['cityOrState'].str.replace('South Dakota', 'SD')
us['cityOrState'] = us['cityOrState'].str.replace('Utah', 'UT')
us['cityOrState'] = us['cityOrState'].str.replace('Vermont', 'VT')
us['cityOrState'] = us['cityOrState'].str.replace('Wyoming', 'WY')

In [37]:
us.loc[us['cityOrState'] == 'Puerto Rico', 'country'] = 'Puerto Rico'
us[us['cityOrState'].isin(states) == False]['cityOrState'].value_counts(dropna=False)

NaN                           9572
Midwest                         26
Puerto Rico                     24
East Coast                      19
Everywhere                      18
Northern California             14
Mass                            12
Anytown                         12
                                10
SoCal                            9
Pacific Northwest                8
Cambridge                        8
Anywhere                         8
Virgin Islands                   7
Somewhere                        7
West Coast                       7
Earth                            6
Southeast                        6
Ill                              6
Harlem                           6
Upstate New York                 5
Nunya                            4
Left Coast                       4
Baltimore                        4
mostly                           4
Shithole                         4
America                          4
ILland                           4
Crazytown                        4
Trump                            4
                              ...
Commonwealth of Mass             1
Mexico & Canada                  1
Views Are Strictly My Own        1
California and StLouis, Mo       1
Jazz City                        1
Third World                      1
East Coast Blue state!           1
Monterey, Manhattan              1
Downhome                         1
Chocolate City                   1
The Great Lone Star State        1
permian basin                    1
Ilinois                          1
TelAviv,  Amsterdam              1
Spartan Nation                   1
Fucktown                         1
Down South                       1
Lawrence                         1
Counterpunch                     1
ill                              1
Satan's Playground               1
Conservative Dreams              1
Northern                         1
Karachi, Dubai                   1
City of Fallen Angels            1
Corruption                       1
Seat Pleasant                    1
North China Hills                1
born & bred                      1
Cali-For-Nia                     1
Name: cityOrState, Length: 666, dtype: int64

In [38]:
condition = (us['cityOrState'].isin(states) == False) & (us['cityOrState'] != 'Puerto Rico')
us.loc[condition, 'cityOrState'] = np.nan

In [39]:
us[us['cityOrState'].isin(states) == False]['cityOrState'].value_counts(dropna=False)

NaN            10512
Puerto Rico       24
Name: cityOrState, dtype: int64

In [40]:
us['cityOrState'].value_counts(dropna=False)

CA             11365
NaN            10512
NY              9187
FL              3566
TX              3161
DC              3126
IL              2720
PA              2285
WA              2084
MA              1763
GA              1734
NC              1715
MI              1534
OH              1444
VA              1405
CO              1393
NJ              1335
AZ              1298
OR              1211
MN              1108
TN              1088
MD               917
MO               884
IN               816
WI               722
CT               617
NV               596
SC               569
AL               568
KY               538
OK               440
IA               392
UT               371
KS               363
NM               342
AR               307
NH               251
NE               239
ID               206
LA               196
ME               193
HI               190
MS               186
RI               177
MT               174
VT               157
AK               136
DE               126
WV               105
WY                88
SD                79
ND                76
Puerto Rico       24
Name: cityOrState, dtype: int64

## Non-US

In [41]:
notus

,cityOrState,country
0,Quelque part,None
1,London (E17) / Gateshead (NE9),None
2,add my snapchat - DirectPorn,None
3,NaN,NaN
4,NaN,NaN
5,Nationwide,None
6,NaN,NaN
8,NaN,NaN
12,West of the Rocky Mountains,None
16,Cardiff,UK
17,Fort McMurray,Alberta
18,Stuck in the Mud,None
20,au where seokjin has a movie coming out and ha...,None
21,@kerupukaleng,None
22,Dublin,Ireland
23,New Delhi,India
25,Austria,None
27,NaN,NaN
28,NaN,NaN
29,Tara Follows,None
30,UK,None
31,-35.027769,138.569875
32,NaN,NaN
33,NaN,NaN
34,NaN,NaN
35,NaN,NaN
36,Huntsville,AL USAüá∫üá∏üóΩ
38,NaN,NaN
39,East Coast,None
40,Adirondacks,None
...,...,...
211790,NaN,NaN
211791,Cape Town,South Africa
211797,India,None
211798,NaN,NaN
211800,Currently in Vietnam,None
211801,√úT: 43.649347,-79.393491
211804,Fuckin Hollywood,None
211805,NaN,NaN
211806,NaN,NaN
211808,NaN,NaN
211809,NaN,NaN
211810,NaN,NaN
211812,Kolkata,India
211813,Detroit,None
211817,We can drop bombs,"send in troops, put in electricity or roads, b..."
211820,Deep in the heart of Canada!,None
211821,NaN,NaN
211822,ATL,None
211823,Everywhere you want to be,None
211825,Montreal,"QC, Canada"
211827,NaN,NaN
211828,England,None
211829,Toronto,None
211830,NaN,NaN
211832,NaN,NaN
211833,NaN,NaN
211834,Sweden,None
211835,Probablemente jugando golf,None
211836,Pottsylvania,Taxifornia
211837,NaN,NaN

In [42]:
notus['cityOrState'].value_counts(dropna=False)

NaN                               55126
London                             2347
Toronto                            1521
Canada                              911
Earth                               520
Sydney                              499
Australia                           493
Melbourne                           434
Vancouver                           433
UK                                  423
England                             415
United Kingdom                      407
India                               382
Ottawa                              321
Stockholm                           295
Ontario                             288
Paris                               279
Worldwide                           258
Global                              255
Everywhere                          242
Planet Earth                        233
Berlin                              205
Mumbai                              203
New Delhi                           202
Dublin                              201
Scotland                            196
Montr√©al                            195
Calgary                             187
Edmonton                            187
Germany                             178
                                  ...
Melbourne via Juba Sth Sudan          1
long beach mississippi                1
7/13/18                               1
√Örhus Denmark (via NI/Ireland)        1
CAMH / UTORONTO                       1
That ‚ÄúDangerous‚Äù Neighborhood         1
queer                                 1
The Country by way of The City        1
but its a dry heat...                 1
Northeast DC                          1
The Ivory Tenement                    1
I stay until the wind changes         1
Sanctuary St. w budget surplus        1
ibukota indonesia                     1
the Moon üåï                            1
√úT: 39.980098                         1
Chicagoland is the best land.         1
CHI‚Ä¢LA                                1
[enter ironic location here]          1
Redwood forest                        1
Windsor CO                            1
Jonesboro                             1
The Bayous of Louisiana               1
In Canada                             1
Tuckahoe Prison For Ladies            1
VIEWS ARE ME OWN                      1
Loca pajarer√≠a de Transilvania        1
Philadelphia City Hall                1
Cape Cod USA                          1
halloween town                        1
Name: cityOrState, Length: 38925, dtype: int64

In [43]:
notus['country'].value_counts(dropna=False)

NaN                           111645
England                         2024
Ontario                         1149
Canada                           874
India                            723
UK                               564
Australia                        517
United Kingdom                   462
France                           346
Ireland                          300
South Africa                     299
British Columbia                 286
Germany                          270
Alberta                          256
Scotland                         251
Sweden                           220
Brasil                           215
New South Wales                  204
Victoria                         194
ON                               174
BC                               165
Ontario, Canada                  161
London                           153
Qu√©bec                           153
Nigeria                          138
Spain                            121
The Netherlands                  119
Pakistan                         119
Kenya                            119
New Zealand                      117
                               ...
georgia,atlanta                    1
666 Avalon                         1
Sol, Liberty Square                1
447 miles from perfection          1
Turks and Caico                    1
qatar                              1
Western Cape, South Africa         1
·ó∑·ª∞≈¶ ≈ä∆ü≈¶ ƒπ·óõ≈¶‚Ñ®ƒπ∆≥                     1
London, Oxford.                    1
london SW17                        1
I could be YOU tomorrow"           1
The Moon                           1
Pa, USA                            1
NOW!                               1
-71.1853                           1
PA; Bronx, NY; Taiwan              1
Qc.                                1
Mt Olympus                         1
Spangen.                           1
I believe                          1
GA, US                             1
Wy, USA                            1
House of Twits                     1
-80.074678                         1
MONTANA                            1
AZ ya                              1
NE & Washington DC                 1
Toronto, Arlington                 1
Louisiana USA                      1
NYC & nationwide                   1
Name: country, Length: 6226, dtype: int64

In [44]:
condition = (notus['cityOrState'].isna() == False) & (notus['country'].isna() == True)
notus[condition]

                                              cityOrState country
0                                            Quelque part    None
1                          London (E17) / Gateshead (NE9)    None
2                            add my snapchat - DirectPorn    None
5                                              Nationwide    None
12                            West of the Rocky Mountains    None
18                                       Stuck in the Mud    None
20      au where seokjin has a movie coming out and ha...    None
21                                          @kerupukaleng    None
25                                                Austria    None
29                                           Tara Follows    None
30                                                     UK    None
39                                             East Coast    None
40                                            Adirondacks    None
42                                                 Israel    None
48                          Undisclosed fabulous location    None
49                                        probably crying    None
51                                    bellevue washington    None
55                                              EN LA RED    None
63                                          Milano/Italia    None
64                                                  Jijel    None
68                                          Another World    None
73                                          Metro Detroit    None
78                                                 Norway    None
83                     Twin Cities transit and crosswalks    None
84                                                  China    None
86                               Not the tv wonder woman!    None
87                                                 Berlin    None
95                                          Chicago soon.    None
98                                                   Pune    None
99                                     North Carolina USA    None
...                                                   ...     ...
211734                                           Kaltland    None
211736                        Metro Detroit 855-MIKE-WINS    None
211740                              OKINAWA‚ÜíIBARAKI‚ÜíTOKYO    None
211744                                          127.0.0.1    None
211745                                                 „Åì„Åì    None
211746                                           bridgend    None
211747                        BarnaculesManCave@gmail.com    None
211748                          Melbourne & Hepburn Shire    None
211749                                             London    None
211750                                             Hebron    None
211751                                           Scotland    None
211754                                The civilised West.    None
211756                                              Nomad    None
211757                                       Johannesburg    None
211768                                          Hong Kong    None
211770                                                BÂú∞Âå∫    None
211772                                                Âú∞„Åü„Åæ    None
211781                                         ‰∏≠Èáé„Å®„Åã„ÄÇÂäáÂ†¥„Å®„Åã„ÄÇ    None
211789                                       Matthew 6:33    None
211797                                              India    None
211800                               Currently in Vietnam    None
211804                                   Fuckin Hollywood    None
211813                                            Detroit    None
211820                       Deep in the heart of Canada!    None
211822                                                ATL    None
211823                          Everywhere you want to be    None
211828                                            England    None
211829                                            Toronto    None
211834                                             Sweden    None
211835                         Probablemente jugando golf    None

[56519 rows x 2 columns]

In [45]:
notus.loc[condition, 'country'] = notus.loc[condition, 'cityOrState']

In [46]:
notus['country'].value_counts(dropna=False)[:45]

NaN                         55126
England                      2138
Canada                       1760
London                       1186
Ontario                      1176
India                        1100
Australia                    1000
UK                            972
United Kingdom                864
Toronto                       511
Earth                         479
France                        469
Ireland                       465
South Africa                  451
Germany                       441
Scotland                      363
Sweden                        363
British Columbia              304
Brasil                        295
Alberta                       271
Worldwide                     257
Global                        252
Everywhere                    240
Planet Earth                  224
Maryland                      210
New South Wales               205
The Netherlands               204
Victoria                      198
New Zealand                   192
Nigeria                       189
Brazil                        177
ON                            175
Pakistan                      174
Spain                         171
BC                            170
Sydney                        168
M√©xico                        163
Ontario, Canada               161
Qu√©bec                        160
Japan                         159
Kenya                         155
Italy                         154
United States of America      153
Argentina                     145
Sverige                       144
Name: country, dtype: int64

In [47]:
notus.isna().sum()

cityOrState    55126
country        55126
dtype: int64

In [48]:
_ = notus['country'].value_counts(dropna=False).index.tolist()[1:45]
_

['England',
 'Canada',
 'London',
 'Ontario',
 'India',
 'Australia',
 'UK',
 'United Kingdom',
 'Toronto',
 'Earth',
 'France',
 'Ireland',
 'South Africa',
 'Germany',
 'Scotland',
 'Sweden',
 'British Columbia',
 'Brasil',
 'Alberta',
 'Worldwide',
 'Global',
 'Everywhere',
 'Planet Earth',
 'Maryland',
 'New South Wales',
 'The Netherlands',
 'Victoria',
 'New Zealand',
 'Nigeria',
 'Brazil',
 'ON',
 'Pakistan',
 'Spain',
 'BC',
 'Sydney',
 'M√©xico',
 'Ontario, Canada',
 'Qu√©bec',
 'Japan',
 'Kenya',
 'Italy',
 'United States of America',
 'Argentina',
 'Sverige']

In [49]:
repl = r"notus['country'] = notus['country'].str.replace("
repl

"notus['country'] = notus['country'].str.replace("

In [50]:
for i in sorted(_):
    print(f"{repl}'{i}', '')")

notus['country'] = notus['country'].str.replace('Alberta', '')
notus['country'] = notus['country'].str.replace('Argentina', '')
notus['country'] = notus['country'].str.replace('Australia', '')
notus['country'] = notus['country'].str.replace('BC', '')
notus['country'] = notus['country'].str.replace('Brasil', '')
notus['country'] = notus['country'].str.replace('Brazil', '')
notus['country'] = notus['country'].str.replace('British Columbia', '')
notus['country'] = notus['country'].str.replace('Canada', '')
notus['country'] = notus['country'].str.replace('Earth', '')
notus['country'] = notus['country'].str.replace('England', '')
notus['country'] = notus['country'].str.replace('Everywhere', '')
notus['country'] = notus['country'].str.replace('France', '')
notus['country'] = notus['country'].str.replace('Germany', '')
notus['country'] = notus['country'].str.replace('Global', '')
notus['country'] = notus['country'].str.replace('India', '')
notus['country'] = notus['country'].str.replace('Ireland', '')
notus['country'] = notus['country'].str.replace('Italy', '')
notus['country'] = notus['country'].str.replace('Japan', '')
notus['country'] = notus['country'].str.replace('Kenya', '')
notus['country'] = notus['country'].str.replace('London', '')
notus['country'] = notus['country'].str.replace('Maryland', '')
notus['country'] = notus['country'].str.replace('M√©xico', '')
notus['country'] = notus['country'].str.replace('New South Wales', '')
notus['country'] = notus['country'].str.replace('New Zealand', '')
notus['country'] = notus['country'].str.replace('Nigeria', '')
notus['country'] = notus['country'].str.replace('ON', '')
notus['country'] = notus['country'].str.replace('Ontario', '')
notus['country'] = notus['country'].str.replace('Ontario, Canada', '')
notus['country'] = notus['country'].str.replace('Pakistan', '')
notus['country'] = notus['country'].str.replace('Planet Earth', '')
notus['country'] = notus['country'].str.replace('Qu√©bec', '')
notus['country'] = notus['country'].str.replace('Scotland', '')
notus['country'] = notus['country'].str.replace('South Africa', '')
notus['country'] = notus['country'].str.replace('Spain', '')
notus['country'] = notus['country'].str.replace('Sverige', '')
notus['country'] = notus['country'].str.replace('Sweden', '')
notus['country'] = notus['country'].str.replace('Sydney', '')
notus['country'] = notus['country'].str.replace('The Netherlands', '')
notus['country'] = notus['country'].str.replace('Toronto', '')
notus['country'] = notus['country'].str.replace('UK', '')
notus['country'] = notus['country'].str.replace('United Kingdom', '')
notus['country'] = notus['country'].str.replace('United States of America', '')
notus['country'] = notus['country'].str.replace('Victoria', '')
notus['country'] = notus['country'].str.replace('Worldwide', '')

In [51]:
canada = ['Alberta', 'BC', 'British Columbia', 'ON', 'Ontario', 'Ontario, Canada', 'Toronto', 'Qu√©bec']
notus.loc[notus['country'].isin(canada)]

          cityOrState           country
17      Fort McMurray           Alberta
152         Vancouver  British Columbia
219         Kitchener           Ontario
225          Kingston           Ontario
385            Ottawa   Ontario, Canada
405           Toronto           Ontario
630        Kincardine           Ontario
665          Waterloo           Ontario
691           Langley  British Columbia
758       Thunder Bay           Ontario
764           Toronto           Toronto
768           Toronto           Ontario
787                BC                BC
928           Toronto           Ontario
1100         Edmonton           Alberta
1115          Windsor           Ontario
1139         Victoria  British Columbia
1293     Chatham-Kent           Ontario
1379        Vancouver  British Columbia
1508          Toronto   Ontario, Canada
1526          Toronto           Ontario
1580           Barrie           Ontario
1741        Brantford           Ontario
1774          Calgary           Alberta
1881          Toronto           Toronto
2023         Edmonton           Alberta
2042         Hamilton           Ontario
2204          Toronto           Toronto
2212       Belleville                ON
2233          Toronto           Ontario
...               ...               ...
209719        Toronto           Ontario
209780        Calgary           Alberta
209788        Toronto           Toronto
209824         London   Ontario, Canada
209928    York Region   Ontario, Canada
209955    Gravenhurst           Ontario
210041      Gananoque           Ontario
210083        Toronto                ON
210278        Toronto   Ontario, Canada
210313       Montr√©al            Qu√©bec
210371        Toronto           Ontario
210491        Toronto           Toronto
210506       Montr√©al            Qu√©bec
210553         Ottawa   Ontario, Canada
210659        Toronto           Toronto
210860        Calgary           Alberta
210936       Montr√©al            Qu√©bec
210955         Ottawa                ON
211049      Vancouver  British Columbia
211055        Timmins           Ontario
211070      Pickering           Ontario
211078        Toronto           Toronto
211219         London                ON
211310       Edmonton           Alberta
211468        Toronto           Toronto
211636        Toronto           Ontario
211651      Vancouver                BC
211664       Montr√©al            Qu√©bec
211695      Vancouver  British Columbia
211829        Toronto           Toronto

[2928 rows x 2 columns]

In [52]:
notus.loc[notus['country'].isin(canada), 'country'].value_counts(dropna=False)

Ontario             1176
Toronto              511
British Columbia     304
Alberta              271
ON                   175
BC                   170
Ontario, Canada      161
Qu√©bec               160
Name: country, dtype: int64

In [53]:
notus.loc[notus['country'].isin(canada), 'country'] = 'Canada'
notus.loc[notus['country'].str.contains('Canada', case=False) == True, 'country'] = 'Canada'
notus.loc[(notus['cityOrState'] == 'Canada') & (notus['country'] == 'Canada'), 'cityOrState'] = np.nan

In [54]:
condition = (notus['cityOrState'].str.contains('Canada', case=False)) & (notus['country'] == 'Canada')
notus.loc[condition]

                           cityOrState country
605                          Canada eh  Canada
799                     Ontario Canada  Canada
912                     Ontario Canada  Canada
1803                            CANADA  Canada
3200               Italy / UK / Canada  Canada
3920               Western Canada Zone  Canada
4082                            canada  Canada
4254                  Toronto - Canada  Canada
4328                    Canada & Japan  Canada
4856        Regina Saskatchewan CANADA  Canada
4958    Starfleet/Gallifrey/Canada/SDN  Canada
4959                Victoria BC Canada  Canada
5605                    Ontario Canada  Canada
5923               Canada Planet Earth  Canada
6117     worldwide   -  Ontario Canada  Canada
6613                    Toronto Canada  Canada
7060                 Pakistan & Canada  Canada
7361         Canada - US Border üá®üá¶‚ù§Ô∏èüá∫üá∏  Canada
7373       Halifax. The one in Canada.  Canada
7548        Thunder Bay Ontario Canada  Canada
7738            Toronto Ontario Canada  Canada
8057                   Toronto. Canada  Canada
8467                    Toronto.Canada  Canada
9273           Southern Ontario Canada  Canada
9426                         Canada üá®üá¶  Canada
9583                            canada  Canada
10268               Toronto Ont Canada  Canada
10327    Canada & Haliburton Highlands  Canada
10416           Calgary Alberta Canada  Canada
10613                     VPP√ãR CANADA  Canada
...                                ...     ...
198231         Canada : 1-866-481-8429  Canada
199677                    Canada...eh!  Canada
199694                   U.S. & Canada  Canada
199782                 U.S. and Canada  Canada
199979       Canada's Leading Mattress  Canada
200409              Canada/Switzerland  Canada
200540                  Toronto Canada  Canada
200629                    Canada & USA  Canada
201140      Canada.  India. The World.  Canada
201358                Canada / Germany  Canada
202701                       BC Canada  Canada
202922          Toronto Ontario Canada  Canada
204197                          CANADA  Canada
205145                 Shithole Canada  Canada
205217  31 cities across U.S. & Canada  Canada
205233                   Qu√©bec Canada  Canada
206511                 Global ‚òØ Canada  Canada
206986                 U.S. and Canada  Canada
207361                  Calgary Canada  Canada
207378                 Calgary  Canada  Canada
207632              Canada. All of it.  Canada
208059                 Winnipeg Canada  Canada
209117                    USA & Canada  Canada
209293           Bureaus across Canada  Canada
210272                      Canada eh!  Canada
210407    Canada-US-UK-Italy-Australia  Canada
211137           London Ontario Canada  Canada
211245                      Oh Canada!  Canada
211286         Edmonton Alberta Canada  Canada
211820    Deep in the heart of Canada!  Canada

[412 rows x 2 columns]

In [55]:
notus.loc[notus['country'] == 'Canada', 'cityOrState'].value_counts()

Toronto                           1477
Vancouver                          303
Ontario                            285
Ottawa                             259
Montr√©al                           145
Calgary                            139
Edmonton                           135
British Columbia                    90
Alberta                             78
London                              72
Hamilton                            60
Victoria                            56
Montreal                            40
Nova Scotia                         35
Qu√©bec                              31
canada                              30
Mississauga                         27
Kingston                            27
Waterloo                            22
Guelph                              21
Kitchener                           19
Halifax                             19
Winnipeg                            18
Windsor                             17
Surrey                              17
Ontario Canada                      17
BC                                  17
CANADA                              17
Barrie                              16
Toronto Canada                      15
                                  ...
Canada..                             1
Deep in the heart of Canada!         1
Oh O Canada                          1
The GREAT White North (Canada)       1
Yellowknife NT Canada                1
Whitecourt                           1
Quebec  Canada                       1
Victoria and Vancouver               1
British Columbia/Canada              1
Canada / USA                         1
The Canada With A Constitution       1
Labrador                             1
Toronto/Killaloe                     1
Innisfail                            1
Usually Canada                       1
Canada UK Europe Africa (2018)       1
London-Ontario                       1
Brantford ON Canada N3S 1J9          1
Oh Canada                            1
New Brunswick üá®üá¶ CANADA!             1
Peel Region                          1
Canada and Afghanistan               1
Bromont                              1
Marystown                            1
Gabriola Island                      1
Barrie or Waterloo                   1
Canada/USA border city               1
Red Deer County                      1
YUKON canada                         1
Dundas                               1
Name: cityOrState, Length: 752, dtype: int64

In [56]:
uk = ['London', 'United Kingdom', 'England']
notus.loc[notus['country'].isin(uk), 'country'] = 'UK'
notus.loc[notus['cityOrState'].isin(uk), 'country'] = 'UK'
notus.loc[notus['country'] == 'UK', 'cityOrState'].value_counts(dropna=False)

London                   2347
England                   415
UK                        409
United Kingdom            407
Manchester                107
Scotland                   76
Bristol                    57
Birmingham                 47
Sheffield                  45
South East                 43
Leeds                      42
Liverpool                  41
West Midlands              34
North West                 34
Wales                      34
Cambridge                  34
Oxford                     32
Nottingham                 30
Brighton                   30
Newcastle Upon Tyne        26
South West                 23
City of London             21
North East                 21
Leicester                  20
Hackney                    17
Southampton                15
Bath                       15
East                       14
Reading                    14
Norwich                    13
                         ...
Ilford                      1
Knightsbridge               1
Docklands & Stratford       1
Netley Abbey                1
Berkeley                    1
Bailiwick of Guernsey       1
bristol                     1
Adisham                     1
River Fleet                 1
Cleethorpes                 1
Shipley                     1
Wellingborough              1
Hoylake                     1
Herne Hill                  1
Acton                       1
World Newton                1
Embassy of Ecuador          1
East Yorkshire              1
Hemswell Cliff              1
Sowerby Bridge              1
CHELTENHAM                  1
Warminster                  1
Purley                      1
University of Bristol       1
Stockwell                   1
Sheffield Central           1
Stratford                   1
Melbourne                   1
West Wick                   1
Teignmouth                  1
Name: cityOrState, Length: 479, dtype: int64

In [57]:
aus = ['Sydney', 'New South Wales', 'Australia', 'Melbourne', 'Brisbane', 'Queensland', 'Canberra', 'Perth']
notus.loc[notus['country'].isin(aus), 'country'] = 'Australia'
notus.loc[notus['cityOrState'].isin(aus), 'country'] = 'Australia'
notus.loc[notus['country'] == 'Australia', 'cityOrState'].value_counts(dropna=False)

Sydney                          499
Australia                       493
Melbourne                       434
Brisbane                        119
Perth                            78
Canberra                         64
Queensland                       36
Victoria                         29
New South Wales                  21
Gold Coast                       18
Newcastle                        13
Wollongong                       10
Sunshine Coast                    9
Adelaide                          8
Tasmania                          7
Byron Bay                         7
Central Coast                     7
NSW                               6
Townsville                        4
Hobart                            3
Western Australia                 3
Wagga Wagga                       3
Cairns                            3
Toowoomba                         2
Orange                            2
Northern Territory                2
Port Melbourne                    2
42 Wallaby Way                    2
South Australia                   2
Rozelle                           2
                               ...
Clayton                           1
Qld                               1
Redfern                           1
Warwick                           1
American in Oz                    1
Chicago via Sydney                1
Kirra                             1
Bribie Island                     1
Hampton                           1
Regional Victoria                 1
Gadigal Land                      1
Scone                             1
Australian Capital Territory      1
Bywong                            1
Footscray                         1
Darlinghurst Sydney               1
Wurundjeri Land                   1
Mulgoa                            1
Lismore                           1
Wurundjeri lands                  1
North Kellyville                  1
North Queensland                  1
Batman                            1
Taree                             1
Coffs Harbour                     1
Dingley Village                   1
North West Tasmania               1
Upper Ferntree Gully              1
Elwood                            1
Tamworth                          1
Name: cityOrState, Length: 135, dtype: int64

In [58]:
brazil = ['Brasil', 'Brazil', 'Bras√≠lia', 'Brasilia', 'S√£o Paulo', 'Sao Paulo']
notus.loc[notus['country'].isin(brazil), 'country'] = 'Brazil'
notus.loc[notus['cityOrState'].isin(brazil), 'country'] = 'Brazil'
notus.loc[notus['cityOrState'].isin(['Brasil', 'Brazil']), 'cityOrState'] = 'Brazil'
notus.loc[notus['cityOrState'].isin(['S√£o Paulo', 'Sao Paulo']), 'cityOrState'] = 'Sao Paulo'
notus.loc[notus['country'] == 'Brazil', 'cityOrState'].value_counts(dropna=False)

Brazil                   150
Sao Paulo                105
Rio de Janeiro            51
Curitiba                   9
Fortaleza                  8
Bras√≠lia                   8
Belo Horizonte             8
Goi√¢nia                    7
Minas Gerais               7
Porto Alegre               7
Campinas                   6
Recife                     6
Manaus                     5
Rio Grande do Sul          5
Bahia                      4
Pernambuco                 4
Santa Catarina             4
Cear√°                      3
Teresina                   3
Salvador                   3
Florian√≥polis              3
Federal District           2
Paran√°                     2
Sorocaba                   2
Bel√©m                      2
Cuiab√°                     2
Santos                     2
Duque de Caxias            2
Natal                      2
Campos dos Goytacazes      2
                        ...
Mossor√≥                    1
Aracati                    1
Uruguaiana                 1
Franca                     1
Governador Valadares       1
Tr√™s Rios                  1
Vit√≥ria                    1
Padre Para√≠so              1
Porto Seguro               1
Ro√ßa Paulista              1
Jo√£o Pessoa                1
Montanha                   1
Corumb√°                    1
Porto Velho                1
Ribeir√£o Bonito            1
Patos de Minas             1
Osasco                     1
Fordlandia                 1
Mato Grosso do Sul         1
Eun√°polis                  1
Planura                    1
Itapecerica da Serra       1
Bauru                      1
Petr√≥polis                 1
Salto                      1
Ponta Grossa               1
S√£o Pedro da Aldeia        1
Londrina                   1
Olinda                     1
Campos Sales               1
Name: cityOrState, Length: 117, dtype: int64

In [59]:
sweden = ['Sverige', 'Sweden', 'Stockholm', 'Gothenburg', 'Schweden', 'Sweden, Earth', 'Sweden, Universe']
notus.loc[notus['country'].isin(sweden), 'country'] = 'Sweden'
notus.loc[notus['cityOrState'].isin(sweden), 'country'] = 'Sweden'
notus.loc[notus['country'] == 'Sweden', 'cityOrState'].value_counts(dropna=False)

Stockholm          295
Sweden             146
Sverige             31
Gothenburg          17
Malmo                9
Uppsala              6
G√∂teborg             6
Helsingborg          6
Malm√∂                5
Lund                 5
V√§ster√•s             5
Ume√•                 4
Link√∂ping            4
Solna                3
Karlstad             3
√ñrebro               3
Sundbyberg           3
G√§vle                3
Pite√•                2
Nacka                2
Bor√•s                2
V√§xj√∂                2
Norrk√∂ping           2
J√∂nk√∂ping            2
Sundsvall            2
Tyres√∂               2
Haninge              2
Enk√∂ping             2
J√§rf√§lla             2
lesbian islands      1
                  ...
Anundg√•rd            1
Askersund            1
Trollh√§ttan          1
T√§by                 1
Hedemora             1
Alings√•s             1
Scania-3             1
Simrishamn           1
Lule√•                1
Sollentuna           1
V√§rmd√∂               1
Bolln√§s              1
√ñrebro Castle        1
Eskilstuna           1
Vallentuna           1
Tran√•s               1
stockholm            1
Skane                1
Malmoe               1
N√§s√•ker              1
Falun                1
Falkenberg           1
Gotland              1
Torsby               1
Rented house         1
√ñrnsk√∂ldsvik         1
Danderyd             1
Saltsj√∂Boo           1
Halmstad             1
Kiruna               1
Name: cityOrState, Length: 69, dtype: int64

In [60]:
notus['country'] = notus['country'].str.replace('United States of America', 'USA')
notus['country'] = notus['country'].str.replace('Maryland', 'USA')

In [61]:
mexico = ['Mexico', 'M√©xico', 'Distrito Federal', 'Puebla', 'Aguascalientes', 'San Luis Potos√≠']
notus.loc[notus['country'].isin(mexico), 'country'] = 'Mexico'
notus.loc[notus['cityOrState'].isin(mexico), 'country'] = 'Mexico'
notus.loc[notus['country'] == 'Mexico', 'cityOrState'].value_counts(dropna=False)

M√©xico                    95
Mexico                    92
Distrito Federal          11
Aguascalientes             7
Puebla                     6
San Luis Potos√≠            5
Baja California Sur        3
Oaxaca                     3
Jalisco                    3
Guadalajara                3
Tabasco                    2
Monterrey                  2
Quer√©taro                  2
Coyoac√°n                   2
Sinaloa                    2
Guanajuato                 2
Hidalgo                    2
Baja California            2
Pachuca                    2
Tamaulipas                 2
Acapulco                   2
Mexico City                2
Nuevo Le√≥n                 2
M√©rida                     1
Canc√∫n                     1
Urbe de Humo               1
Cancun                     1
California & SMA           1
La Paz                     1
Quer√©taro Arteaga          1
Colima                     1
Ecatepec de Morelos        1
Tijuana                    1
Quintana Roo               1
Chihuahua                  1
Campeche                   1
Chiapas                    1
Cholula                    1
Ecatepec                   1
Tlaxcala                   1
Toluca                     1
M√©xico City                1
Sayavedra                  1
Coahuila                   1
Cuautitl√°n                 1
Sonora                     1
Texcoco                    1
San Miguel de Allende      1
Veracruz                   1
Guerrero                   1
Morelos                    1
Playa del Carmen           1
Morelia                    1
Guadalajara and Ajijic     1
San Andr√©s Cholula         1
Yucat√°n                    1
Zapopan                    1
Tenochtitlan               1
Name: cityOrState, dtype: int64

In [62]:
jpn = ['Japan', 'Tokyo', 'JAPAN', 'Tokyo-to', 'Osaka', 'Okinawa', 'Chiba', 'Okinawa-ken', 'Kyoto', 'Miyazaki']
notus.loc[notus['country'].isin(jpn), 'country'] = 'Japan'
notus.loc[notus['cityOrState'].isin(jpn), 'country'] = 'Japan'
notus.loc[notus['country'] == 'Japan', 'cityOrState'].value_counts(dropna=False)

Japan                      68
Tokyo                      68
Tokyo-to                   18
Osaka                       9
JAPAN                       7
Kyoto                       6
Okinawa                     5
Chiba                       4
Okinawa-ken                 3
Êù±‰∫¨ÈÉΩ / Tokyo                 2
Nagoya                      2
Miyazaki                    2
Hokkaido                    2
Tsukuba                     1
Saga & Fukuoka              1
Danktown                    1
Adachi-ku                   1
Funabashi-shi               1
Nakano - Aoyama             1
Mie-ken                     1
Kyoto City Fushimi Ward     1
Shibuya-ku                  1
Kyoto City                  1
Aichi-ken                   1
Gunma-ken                   1
Kumamoto                    1
Yamanashi                   1
Hiroshima                   1
Hawaii / Kamakura           1
Saitama                     1
A city saved by magic       1
Chiba-shi Midori            1
Ibaraki-shi                 1
Shinjuku                    1
Êù±‰∫¨ÈÉΩ                         1
New Yorker in Tokyo         1
Fukuoka-ken                 1
Kobe                        1
Chiyoda-ku                  1
Osaka-city                  1
Á¨¨‰∏âÊñ∞Êù±‰∫¨Â∏Ç„ÉªTokyo-3              1
Mitaka City                 1
Kanagawa-ken                1
Shinagawa-ku                1
TOKYO                       1
Ukyo-ku                     1
Osaka City                  1
Tama area                   1
Okinawa-shi                 1
Itabashi-ku                 1
Matsudo-shi                 1
Osaka-fu                    1
Tokyo and Nagoya            1
Kyoto & Okinawa             1
Êù±‰∫¨ÈÉΩÁ¶èÁîüÂ∏Ç Fussa City           1
Yokohama                    1
Name: cityOrState, dtype: int64

In [63]:
india = ['India', 'india', 'INDIA', 'India.', 'New Delhi', 'Mumbai', 
         'Bengaluru', 'Pune', 'Hyderabad', 'Kolkata', 'Chennai', 'Bangalore', 'Delhi']

notus.loc[notus['country'].isin(india), 'country'] = 'India'
notus.loc[notus['cityOrState'].isin(india), 'country'] = 'India'
notus.loc[notus['country'] == 'India', 'cityOrState'].value_counts(dropna=False)

India                                 382
Mumbai                                203
New Delhi                             202
Bengaluru                              67
Pune                                   50
Bangalore                              50
Hyderabad                              49
Delhi                                  42
Kolkata                                29
Chennai                                28
india                                  13
INDIA                                  12
Noida                                  10
Bengaluru South                        10
Gurgaon                                 9
Chandigarh                              9
Jaipur                                  8
Maharashtra                             7
Kerala                                  6
Nagpur                                  6
Ahmadabad City                          6
Uttar Pradesh                           6
Bhubaneshwar                            6
Thane                                   5
Navi Mumbai                             5
Lucknow                                 5
Chhattisgarh                            4
Pehowa                                  4
Rajasthan                               4
Goa                                     4
                                     ...
Patna - New Delhi                       1
Vasant Kunj                             1
ASSAM                                   1
Assam                                   1
Kairana                                 1
Sawai Madhopur                          1
LUCKNOW                                 1
Shillong/Kolkata                        1
Dakshinpuri                             1
Thyagaraya Nagar                        1
Telangana                               1
Kasaragod Dt                            1
Tamilnadu                               1
Gonda                                   1
Tio‚Äôtia:ke /montreal via Hyderabad      1
Phalodi                                 1
Secunderabad                            1
NewTown                                 1
IIT Bombay                              1
Tinsukia                                1
Hisar                                   1
Orissa                                  1
Bhind                                   1
Ludhiana                                1
Barmer                                  1
Siliguri                                1
Mahesana                                1
Garia                                   1
Mangalore / Manipal                     1
Bhayander West                          1
Name: cityOrState, Length: 178, dtype: int64

In [64]:
country = ['Argentina', 'Kenya', 'Nigeria', 'South Africa', 'France', 'Germany',
           'Scotland', 'Spain', 'Ireland', 'Italy', 'New Zealand', 'Pakistan']

for i in country:
    notus.loc[notus['country'] == i, 'country'] = i
    notus.loc[notus['cityOrState'] == i, 'country'] = i

In [65]:
notus.loc[notus['cityOrState'] == 'Londo', 'cityOrState'] = 'London'
notus['cityOrState'] = notus['cityOrState'].str.strip('\n')
notus['cityOrState'] = notus['cityOrState'].str.strip()

In [66]:
len(us) + len(notus) == len(geo)

True

In [67]:
newgeo = pd.concat([us, notus])
len(geo) == len(newgeo)

True

In [68]:
newgeo.sort_index(inplace=True)

In [69]:
users = users.join(newgeo)

In [70]:
users.columns.tolist()

['screenName',
 'id_str',
 'name',
 'screen_name',
 'location',
 'description',
 'url',
 'followers_count',
 'friends_count',
 'created_at',
 'favourites_count',
 'verified',
 'statuses_count',
 'lang',
 'cityOrState',
 'country']

In [71]:
users.head()

,screenName,id_str,name,screen_name,location,description,url,followers_count,friends_count,created_at,favourites_count,verified,statuses_count,lang,cityOrState,country
0,rougbaisers,190672282,j‚Äôaime,rougbaisers,Quelque part,"Je suis ici avec vous, pour l'instant",NaN,1723,2417,Tue Sep 14 15:10:30 +0000 2010,1747,False,204451,en,Quelque part,Quelque part
1,CalumSPlath,61073310,Calum Sherwood,CalumSPlath,London (E17) / Gateshead (NE9),Sylvia Plath enthusiast. Originally from the N...,https://t.co/yELmZKm2Y0,5708,2176,Wed Jul 29 01:10:37 +0000 2009,71775,False,99881,en,London (E17) / Gateshead (NE9),London (E17) / Gateshead (NE9)
2,scfuckers,880227723494477829,Scfuckers.com,scfuckers,add my snapchat - DirectPorn,visit https://t.co/EYipnQWzZl if you are serio...,https://t.co/5qswIAS5fJ,13462,0,Thu Jun 29 00:53:37 +0000 2017,0,False,43457,en,add my snapchat - DirectPorn,add my snapchat - DirectPorn
3,shoegal27,20514782,Karina Thomas,shoegal27,NaN,B2B marketer and part time #DDMIX instructor w...,https://t.co/ladqhZ5Dyw,174,392,Tue Feb 10 14:04:49 +0000 2009,1773,False,688,en,NaN,NaN
4,BasedHowardBeal,888919789065973761,Jeremy Maddux,BasedHowardBeal,NaN,"Host of The Quiet Place\n\nChaotic Neutral, De...",NaN,138,736,Sun Jul 23 00:32:47 +0000 2017,4544,False,4202,en,NaN,NaN

In [72]:
cols = ['screenName', 'id_str', 'name', 'description', 'url',
        'location', 'cityOrState', 'country', 'lang', 'created_at', 'verified',
        'followers_count', 'friends_count', 'favourites_count', 'statuses_count']

users = users[cols]

In [73]:
condition = (users['cityOrState'].isna() == False) & (users['country'].isna() == False)
users[condition].head()

,screenName,id_str,name,description,url,location,cityOrState,country,lang,created_at,verified,followers_count,friends_count,favourites_count,statuses_count
0,rougbaisers,190672282,j‚Äôaime,"Je suis ici avec vous, pour l'instant",NaN,Quelque part,Quelque part,Quelque part,en,Tue Sep 14 15:10:30 +0000 2010,False,1723,2417,1747,204451
1,CalumSPlath,61073310,Calum Sherwood,Sylvia Plath enthusiast. Originally from the N...,https://t.co/yELmZKm2Y0,London (E17) / Gateshead (NE9),London (E17) / Gateshead (NE9),London (E17) / Gateshead (NE9),en,Wed Jul 29 01:10:37 +0000 2009,False,5708,2176,71775,99881
2,scfuckers,880227723494477829,Scfuckers.com,visit https://t.co/EYipnQWzZl if you are serio...,https://t.co/5qswIAS5fJ,add my snapchat - DirectPorn,add my snapchat - DirectPorn,add my snapchat - DirectPorn,en,Thu Jun 29 00:53:37 +0000 2017,False,13462,0,0,43457
5,SANEvents2017,368962215,Book Sophia Nelson,2018 is here! It's time to Go from your Now to...,https://t.co/qUaJMvwrFX,Nationwide,Nationwide,Nationwide,en,Tue Sep 06 14:41:00 +0000 2011,False,1041,117,1947,12122
7,lucycarin,18765167,lucycarin,It isn't braggin if you can do it. I‚Äôm a new O...,NaN,"Ponca City, OK",OK,USA,en,Thu Jan 08 14:38:31 +0000 2009,False,1248,380,170422,112047

In [74]:
users.dtypes

screenName          object
id_str              object
name                object
description         object
url                 object
location            object
cityOrState         object
country             object
lang                object
created_at          object
verified            object
followers_count     object
friends_count       object
favourites_count    object
statuses_count      object
dtype: object

In [75]:
len(users)
users.drop(users[users['followers_count'] == 'followers_count'].index, inplace=True)
len(users)

211839

211838

In [76]:
users[users['friends_count'].str.contains(r'[A-Za-z]') == True]

,screenName,id_str,name,description,url,location,cityOrState,country,lang,created_at,verified,followers_count,friends_count,favourites_count,statuses_count
23047,I FEEL everything - will cry constantly üíñ She/Her,NaN,635,23218,False,Sun Mar 24 03:15:04 +0000 2013,Sun Mar 24 03:15:04 +0000 2013,Sun Mar 24 03:15:04 +0000 2013,NaN,NaN,NaN,7591.0,en,NaN,NaN
36251,Nr.1 Enemy of Russophobes. Pronouns: His Maje...,https://t.co/iSiimAwzUq,242,14364,False,Mon May 25 20:38:49 +0000 2015,Mon May 25 20:38:49 +0000 2015,Mon May 25 20:38:49 +0000 2015,NaN,NaN,NaN,7163.0,sv,NaN,NaN
38920,Blocked by the KimBriggsCampaign,NaN,345,10837,False,Sat Jul 09 11:16:50 +0000 2011,Sat Jul 09 11:16:50 +0000 2011,Sat Jul 09 11:16:50 +0000 2011,NaN,NaN,NaN,15521.0,en,NaN,NaN
52544,Contact us: clpsec@chichester-labour.org.uk,http://t.co/Vw1L5tquRw,638,4,False,Thu Jan 08 09:32:21 +0000 2015,Thu Jan 08 09:32:21 +0000 2015,Thu Jan 08 09:32:21 +0000 2015,NaN,NaN,NaN,7256.0,en,NaN,NaN
52749,#TheResistance #KnowledgeIsPower #TruthSeeker,NaN,2358,2862,False,Fri Apr 09 04:03:18 +0000 2010,Fri Apr 09 04:03:18 +0000 2010,Fri Apr 09 04:03:18 +0000 2010,NaN,NaN,NaN,125648.0,en,NaN,NaN
74663,Follow and Tag #DDCmusic for favs and retweets!,https://t.co/KQW77QeSKz,12923,19831,False,Sat Jun 28 20:18:30 +0000 2014,Sat Jun 28 20:18:30 +0000 2014,Sat Jun 28 20:18:30 +0000 2014,NaN,NaN,NaN,206755,en,NaN,NaN
79214,+1-360-441-2695,http://t.co/NeYiw7SATh,4408,22213,False,Tue Nov 21 02:35:17 +0000 2006,Tue Nov 21 02:35:17 +0000 2006,Tue Nov 21 02:35:17 +0000 2006,NaN,NaN,NaN,20337,en,NaN,NaN
90921,*Support Galway 2020*,NaN,3684,14482,False,Sun Jul 27 06:24:42 +0000 2014,Sun Jul 27 06:24:42 +0000 2014,Sun Jul 27 06:24:42 +0000 2014,NaN,NaN,NaN,314098,en,NaN,NaN
96094,#jazz #surf #Resister #bluewave2018,NaN,507,7133,False,Sun Apr 09 00:26:28 +0000 2017,Sun Apr 09 00:26:28 +0000 2017,Sun Apr 09 00:26:28 +0000 2017,NaN,NaN,NaN,3261,en,NaN,NaN
109523,#history @thinkUHI. All views are my own.,https://t.co/hZQbiHrdXq,901,28944,False,Tue May 10 14:58:00 +0000 2016,Tue May 10 14:58:00 +0000 2016,Tue May 10 14:58:00 +0000 2016,NaN,NaN,NaN,13028,en-gb,NaN,NaN
124862,€å€Å ÿØŸÜ€åÿß ÿÆŸàÿ®ÿµŸàÿ±ÿ™ €Å€í üòç,NaN,28,11230,False,Thu Feb 16 06:49:41 +0000 2017,Thu Feb 16 06:49:41 +0000 2017,Thu Feb 16 06:49:41 +0000 2017,NaN,NaN,NaN,10852,en,NaN,NaN
132990,‚Ä¢ Tennis ‚Ä¢ Coffee ‚Ä¢ Wine ‚Ä¢ Music ‚Ä¢ 1200s ‚Ä¢ Io...,https://t.co/me1m0B2RNS,290,10943,False,Wed Aug 24 17:01:56 +0000 2011,Wed Aug 24 17:01:56 +0000 2011,Wed Aug 24 17:01:56 +0000 2011,NaN,NaN,NaN,6792,en,NaN,NaN
150482,Workin' as a Video Whore-üëçüèø,NaN,758,10815,False,Tue Jun 23 22:25:12 +0000 2009,Tue Jun 23 22:25:12 +0000 2009,Tue Jun 23 22:25:12 +0000 2009,NaN,NaN,NaN,11937,en,NaN,NaN
155351,AdvisoryBoard @IDEAeconomics Caveats&disclaime...,https://t.co/OjQn6EmCAH,7755,48005,False,Tue Apr 09 02:02:34 +0000 2013,Tue Apr 09 02:02:34 +0000 2013,Tue Apr 09 02:02:34 +0000 2013,NaN,NaN,NaN,50686,en,NaN,NaN
164530,~Maya Angelouüåä,NaN,4467,33117,False,Thu Feb 17 17:42:16 +0000 2011,Thu Feb 17 17:42:16 +0000 2011,Thu Feb 17 17:42:16 +0000 2011,NaN,NaN,NaN,188524,en,NaN,NaN
168055,Boston. Shortly: L.A.,NaN,859,12533,False,Wed Aug 19 01:42:11 +0000 2009,Wed Aug 19 01:42:11 +0000 2009,Wed Aug 19 01:42:11 +0000 2009,NaN,NaN,NaN,10472,en,NaN,NaN
172148,https://t.co/javjKiL3vn,https://t.co/c6dgNNEDFt,3693,99,False,Fri Jun 03 15:26:04 +0000 2011,Fri Jun 03 15:26:04 +0000 2011,Fri Jun 03 15:26:04 +0000 2011,NaN,NaN,NaN,163692,es,NaN,NaN
173874,#StandingRock #TheResistance #ImpeachTrump #Re...,NaN,1032,13482,False,Wed Jun 27 16:36:50 +0000 2012,Wed Jun 27 16:36:50 +0000 2012,Wed Jun 27 16:36:50 +0000 2012,NaN,NaN,NaN,19647,en,NaN,NaN
186019,#deport #ILLEGALaliens ~ ¬°Somos una Naci√≥n CON...,NaN,51215,143,False,Sun Feb 24 21:53:55 +0000 2013,Sun Feb 24 21:53:55 +0000 2013,Sun Feb 24 21:53:55 +0000 2013,NaN,NaN,NaN,155588,en,NaN,NaN
188976,-John 2:5üåøüåøüåøPaleo-Orthodox‚õ™,NaN,1142,105048,False,Mon Dec 03 23:43:16 +0000 2012,Mon Dec 03 23:43:16 +0000 2012,Mon Dec 03 23:43:16 +0000 2012,NaN,NaN,NaN,24068,en,NaN,NaN
194228,Check the YT Channel üëá,https://t.co/lNiHYFDErF,563,2065,False,Thu May 29 20:50:50 +0000 2014,Thu May 29 20:50:50 +0000 2014,Thu May 29 20:50:50 +0000 2014,NaN,NaN,NaN,10357,en,NaN,NaN
194648,pc gaming computersüòÄ,NaN,278,5892,False,Mon Jan 04 02:24:59 +0000 2010,Mon Jan 04 02:24:59 +0000 2010,Mon Jan 04 02:24:59 +0000 2010,NaN,NaN,NaN,75473,en,NaN,NaN
194787,Studio Head of Turn 10 and guy in charge of al...,https://t.co/1UbMqMJyzQ,4761,1909,False,Sun May 31 02:15:09 +0000 2009,Sun May 31 02:15:09 +0000 2009,Sun May 31 02:15:09 +0000 2009,NaN,NaN,NaN,1338,en,NaN,NaN

In [77]:
len(users)
users.drop(users[users['friends_count'].str.contains(r'[A-Za-z]') == True].index, inplace=True)
len(users)

211838

211815

In [78]:
users[users['friends_count'].isna()]

,screenName,id_str,name,description,url,location,cityOrState,country,lang,created_at,verified,followers_count,friends_count,favourites_count,statuses_count
551,Russian Nationalist.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23045,AbbiCaDaby,1293385314.0,Abbie üåà,Just trying to spread the sunshine üåû Gay af üåà ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23046,Nature gal üåºAnimals are my friends üêÆüê∑üê±,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36250,AntonAyx,3298412639.0,Anton,Russian Nationalist.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38918,TopHat_247,332192833,Toppy,Fat lad on a bike... Park Run enthusiast.,NaN,"London, England",London,UK,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38919,Suspects London cabbies may genuinely be the t...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52543,ChiLabour_15,2967541768,Chichester Labour,üåπMore than 1 in 5 voters voted Labour in our c...,NaN,"Theatre House, Theatre Lane, Chichester PO19 1SS",Theatre House,"Theatre Lane, Chichester PO19 1SS",NaN,NaN,NaN,NaN,NaN,NaN,NaN
52748,chickilopiccolo,131056491,Lisa LoPiccolo üóΩüá∫üá∏üåé‚úå,Artist and Chef,NaN,Earth,Earth,Earth,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74661,DistrictDaCapo,2593600476,DistrictDaCapo.com,Everything #Indie #music,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74662,#FREE #promotion for #independent #musicians.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79213,evanwolf,13407,Phil Wolff È©¨Áà±Áãº üê∫,Product Manager. Project Manager. Technologist...,NaN,"Bellingham, Washington",WA,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90920,leocullen4,2726025501,leon Cullen,Justice does not exist with corrupt M.P.F.@ co...,NaN,London,London,UK,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96093,realMaemoxie,850867471150047232,Mae Moxie,Verbose vixen looking to make a long story sho...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109522,IainMacInnesUHI,730049253398204416,Dr Iain MacInnes,Senior Lecturer in #medieval #military #Scotland,NaN,"Dornoch, Scotland",Dornoch,Scotland,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124860,itsmethenum1,832119743360466944,Noman,ŸÖ€å⁄∫ ÿ¨ÿ≥ ÿØŸÜ ÿØ€å⁄©⁄æ ŸÑŸà ÿ™ÿ¨⁄æ ⁄©Ÿà üòç,NaN,Lahore,Lahore,Lahore,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124861,*ŸÖÿ¨⁄æ€í ŸÖÿ≠ÿ≥Ÿàÿ≥ €ÅŸàÿ™ÿß €Å€í *üíñ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132989,SlySmiles,361345741,Smiles,Loves to smile!,NaN,Mid-Atlantic,Mid-Atlantic,Mid-Atlantic,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150481,PlatNuMonk,50123178,Wesley Crane,I am an intellectual slut!!!!,NaN,"CT, USA",CT,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
155348,PaulGambles2,1338085675,Paul Gambles,#YorksCurmudgeon AKA #StPaulTheAnarchist,NaN,"Bangkok, Thailand",Bangkok,Thailand,NaN,NaN,NaN,NaN,NaN,NaN,NaN
155349,#SageOfBangkok,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
155350,Guesthost @SquawkboxEurope,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
164529,adjordan,253647516,NotMyPresident üá∫üá∏,I've learned that you shouldn't go through lif...,NaN,San Diego,San Diego,San Diego,NaN,NaN,NaN,NaN,NaN,NaN,NaN
168054,evejnovich,66871879.0,Eric Vejnovich,A liberal growing increasingly tired of libera...,NaN,"Cambridge, MA",MA,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
172146,JLG2266,310330195.0,¬Æ —î‚ÑìœÅŒ±Œ∑Œ±–≤—î—è—è—É ¬Æ J&G,https://t.co/APVEhw3hxM‚Ä¶,NaN,Valencia Espa√±a,Valencia Espa√±a,Valencia Espa√±a,NaN,NaN,NaN,NaN,NaN,NaN,NaN
172147,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
173872,DariusKnight666,620224683,Darius Knight,Advocate for equality. Activist. Explorer.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
173873,Traveller. Ghost whisperer. Opinions are my own.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
186017,Patriot_MM,1216651544,üá∫üá∏üëÆ‚Äç‚ôÇÔ∏èüëÆ‚Äç‚ôÄÔ∏èüöîMinuteman‚ùåüèÉ‚Äç‚ôÇÔ∏èüèÉ‚Äç‚ôÄÔ∏è,#Deplorable ~ #MCGA,NaN,üöÇüöÉüöÉWüöÉIüöÉNüöÉNüöÉIüöÉNüöÉGüöÉüöÉ,üöÇüöÉüöÉWüöÉIüöÉNüöÉNüöÉIüöÉNüöÉGüöÉüöÉ,üöÇüöÉüöÉWüöÉIüöÉNüöÉNüöÉIüöÉNüöÉGüöÉüöÉ,NaN,NaN,NaN,NaN,NaN,NaN,NaN
186018,~ ŒúŒüŒõŒ©Œù ŒõŒëŒíŒï ~ #NOamnesty ~,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188975,Mitrophan_Ruth,987661393,Mitrophan & Ruth üçá,His mother said to the servants: Do whatever h...,NaN,USA,NaN,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
194227,JaeCreates,2571031121,Jae,Activist-Journalist | My activism is better th...,NaN,"New Jersey, USA",NJ,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
194647,olpband,101633799,Matthew hill,Like building computer and fixing them and pc ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
194786,Turn10_BigBoss,43628783,Alan Hartman,FORZAAA!!! XBOX!!!,NaN,"Seattle, WA",WA,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [79]:
len(users)
users.drop(users[users['friends_count'].isna()].index, inplace=True)
len(users)

211815

211782

In [80]:
users['verified'].value_counts(dropna=False)

False    137242
False     63445
True       9018
True       2077
Name: verified, dtype: int64

In [81]:
users.loc[users['verified'] == True, 'verified'] = 1
users.loc[users['verified'] == False, 'verified'] = 0
users.loc[users['verified'] == 'True', 'verified'] = 1
users.loc[users['verified'] == 'False', 'verified'] = 0

In [84]:
users['verified'].value_counts(dropna=False)

0    200687
1     11095
Name: verified, dtype: int64

In [87]:
users.head()

,screenName,id_str,name,description,url,location,cityOrState,country,lang,created_at,verified,followers_count,friends_count,favourites_count,statuses_count
0,rougbaisers,190672282,j‚Äôaime,"Je suis ici avec vous, pour l'instant",NaN,Quelque part,Quelque part,Quelque part,en,2010-09-14 15:10:30,0,1723,2417,1747,204451
1,CalumSPlath,61073310,Calum Sherwood,Sylvia Plath enthusiast. Originally from the N...,https://t.co/yELmZKm2Y0,London (E17) / Gateshead (NE9),London (E17) / Gateshead (NE9),London (E17) / Gateshead (NE9),en,2009-07-29 01:10:37,0,5708,2176,71775,99881
2,scfuckers,880227723494477829,Scfuckers.com,visit https://t.co/EYipnQWzZl if you are serio...,https://t.co/5qswIAS5fJ,add my snapchat - DirectPorn,add my snapchat - DirectPorn,add my snapchat - DirectPorn,en,2017-06-29 00:53:37,0,13462,0,0,43457
3,shoegal27,20514782,Karina Thomas,B2B marketer and part time #DDMIX instructor w...,https://t.co/ladqhZ5Dyw,NaN,NaN,NaN,en,2009-02-10 14:04:49,0,174,392,1773,688
4,BasedHowardBeal,888919789065973761,Jeremy Maddux,"Host of The Quiet Place\n\nChaotic Neutral, De...",NaN,NaN,NaN,NaN,en,2017-07-23 00:32:47,0,138,736,4544,4202

In [88]:
users.dtypes

screenName                  object
id_str                      object
name                        object
description                 object
url                         object
location                    object
cityOrState                 object
country                     object
lang                        object
created_at          datetime64[ns]
verified                     int64
followers_count             object
friends_count               object
favourites_count            object
statuses_count              object
dtype: object

In [95]:
users['created_at'] = pd.to_datetime(users['created_at'])
users['followers_count'] = pd.to_numeric(users['followers_count'], downcast='integer')
users['friends_count'] = pd.to_numeric(users['friends_count'], downcast='integer')
users['favourites_count'] = pd.to_numeric(users['favourites_count'], downcast='integer')
users['statuses_count'] = pd.to_numeric(users['statuses_count'], downcast='integer')

In [97]:
len(users)
users.drop_duplicates(subset='screenName', keep='last', inplace=True)
users.reset_index(inplace=True, drop=True)
len(users)

211782

211782

In [98]:
users.head()

,screenName,id_str,name,description,url,location,cityOrState,country,lang,created_at,verified,followers_count,friends_count,favourites_count,statuses_count
0,rougbaisers,190672282,j‚Äôaime,"Je suis ici avec vous, pour l'instant",NaN,Quelque part,Quelque part,Quelque part,en,2010-09-14 15:10:30,0,1723,2417,1747,204451
1,CalumSPlath,61073310,Calum Sherwood,Sylvia Plath enthusiast. Originally from the N...,https://t.co/yELmZKm2Y0,London (E17) / Gateshead (NE9),London (E17) / Gateshead (NE9),London (E17) / Gateshead (NE9),en,2009-07-29 01:10:37,0,5708,2176,71775,99881
2,scfuckers,880227723494477829,Scfuckers.com,visit https://t.co/EYipnQWzZl if you are serio...,https://t.co/5qswIAS5fJ,add my snapchat - DirectPorn,add my snapchat - DirectPorn,add my snapchat - DirectPorn,en,2017-06-29 00:53:37,0,13462,0,0,43457
3,shoegal27,20514782,Karina Thomas,B2B marketer and part time #DDMIX instructor w...,https://t.co/ladqhZ5Dyw,NaN,NaN,NaN,en,2009-02-10 14:04:49,0,174,392,1773,688
4,BasedHowardBeal,888919789065973761,Jeremy Maddux,"Host of The Quiet Place\n\nChaotic Neutral, De...",NaN,NaN,NaN,NaN,en,2017-07-23 00:32:47,0,138,736,4544,4202

In [ ]:
users.drop(users[users['screenName'] == 'scfuckers'].index, 0, inplace=True)

In [99]:
users.to_csv('Data/users3.csv', index=False, encoding='utf-8')

# Tweets

In [108]:
tweets.head()

,tweetId,screenName,text,replyToSN,isRetweet,retweeted,retweetCount,favorited,favoriteCount,truncated,created,statusSource,longitude,latitude
0,1,ahmediaTV,American Harem.. #MeToo https://t.co/HjExLJdGuF,NaN,False,False,0,False,0,False,2017-11-29 23:59:00,"<a href=""http://instagram.com"" rel=""nofollow"">...",NaN,NaN
1,2,JesusPrepper74,@johnconyersjr @alfranken why have you guys ...,johnconyersjr,False,False,0,False,0,False,2017-11-29 23:59:00,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",NaN,NaN
2,3,DemerisePotvin,Watched Megan Kelly ask Joe Keery this A.M. if...,NaN,False,False,0,False,0,True,2017-11-29 23:59:00,"<a href=""http://twitter.com/download/android"" ...",NaN,NaN
3,4,TheDawnStott,Women have been talking about this crap the en...,NaN,False,False,0,False,0,False,2017-11-29 23:59:00,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",NaN,NaN
4,5,scottygirl2014,.@BetteMidler please speak to this sexual assa...,NaN,False,False,11,False,15,False,2017-11-29 23:59:00,"<a href=""http://twitter.com/#!/download/ipad"" ...",NaN,NaN

In [109]:
tweets.dtypes

tweetId            int64
screenName        object
text              object
replyToSN         object
isRetweet           bool
retweeted           bool
retweetCount       int64
favorited           bool
favoriteCount      int64
truncated           bool
created           object
statusSource      object
longitude        float64
latitude         float64
dtype: object

In [110]:
tweets['created'] = pd.to_datetime(tweets['created'])

In [111]:
tweets['retweeted'].value_counts(dropna=False)
tweets['favorited'].value_counts(dropna=False)

False    390288
Name: retweeted, dtype: int64

False    390288
Name: favorited, dtype: int64

In [112]:
tweets.drop(['retweeted','favorited'],1,inplace=True)

In [113]:
tweets['isRetweet'].value_counts(dropna=False)
tweets['truncated'].value_counts(dropna=False)

True     224702
False    165586
Name: isRetweet, dtype: int64

False    304715
True      85573
Name: truncated, dtype: int64

In [116]:
tweets.loc[tweets['isRetweet'] == True, 'isRetweet'] = 1
tweets.loc[tweets['isRetweet'] == False, 'isRetweet'] = 0
tweets.loc[tweets['truncated'] == True, 'truncated'] = 1
tweets.loc[tweets['truncated'] == False, 'truncated'] = 0

In [117]:
tweets['isRetweet'].value_counts(dropna=False)
tweets['truncated'].value_counts(dropna=False)

1    224702
0    165586
Name: isRetweet, dtype: int64

0    304715
1     85573
Name: truncated, dtype: int64

In [118]:
tweets.head()
tweets.dtypes

,tweetId,screenName,text,replyToSN,isRetweet,retweetCount,favoriteCount,truncated,created,statusSource,longitude,latitude
0,1,ahmediaTV,American Harem.. #MeToo https://t.co/HjExLJdGuF,NaN,0,0,0,0,2017-11-29 23:59:00,"<a href=""http://instagram.com"" rel=""nofollow"">...",NaN,NaN
1,2,JesusPrepper74,@johnconyersjr @alfranken why have you guys ...,johnconyersjr,0,0,0,0,2017-11-29 23:59:00,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",NaN,NaN
2,3,DemerisePotvin,Watched Megan Kelly ask Joe Keery this A.M. if...,NaN,0,0,0,1,2017-11-29 23:59:00,"<a href=""http://twitter.com/download/android"" ...",NaN,NaN
3,4,TheDawnStott,Women have been talking about this crap the en...,NaN,0,0,0,0,2017-11-29 23:59:00,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",NaN,NaN
4,5,scottygirl2014,.@BetteMidler please speak to this sexual assa...,NaN,0,11,15,0,2017-11-29 23:59:00,"<a href=""http://twitter.com/#!/download/ipad"" ...",NaN,NaN

tweetId                   int64
screenName               object
text                     object
replyToSN                object
isRetweet                 int64
retweetCount              int64
favoriteCount             int64
truncated                 int64
created          datetime64[ns]
statusSource             object
longitude               float64
latitude                float64
dtype: object

In [121]:
cols = ['tweetId', 'screenName', 'text', 'replyToSN', 'isRetweet', 'truncated', 'retweetCount', 'favoriteCount', 
        'created', 'longitude', 'latitude']
tweets = tweets[cols]

In [122]:
tweets.dtypes

tweetId                   int64
screenName               object
text                     object
replyToSN                object
isRetweet                 int64
truncated                 int64
retweetCount              int64
favoriteCount             int64
created          datetime64[ns]
longitude               float64
latitude                float64
dtype: object

In [123]:
tweets.to_csv('Data/tweets2.csv', index=False, encoding='utf-8')

# Hashtags

In [124]:
hashtags['hashtag'] = hashtags['hashtag'].str.replace(r'\\n',' ')
hashtags['hashtag'] = hashtags['hashtag'].str.replace('trump','Trump')
hashtags['hashtag'] = hashtags['hashtag'].str.replace('TRUMP','Trump')
hashtags['hashtag'] = hashtags['hashtag'].str.replace('sexualharassment','SexualHarassment')
hashtags['hashtag'] = hashtags['hashtag'].str.replace(r'M[Ee][Tt]oo','MeToo')
hashtags['hashtag'] = hashtags['hashtag'].str.replace('METOO','MeToo')
hashtags['hashtag'] = hashtags['hashtag'].str.replace('metoo','MeToo')

In [125]:
hashtags.to_csv('Data/hashtags.csv', index=False)